<div class="modal-content">
    <div class="modal-header ">
        <h5 style="color: #e3310d;" class="modal-title" id="exampleModalLongTitle">Message from webpage</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="activemodal.dismiss('Close click')"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img class="mx-auto d-block" src="./assets/images/error.jpg" width="60px">
        <div [innerHTML]="name"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="activemodal.close('Close click')">Ok</button>
    </div>
</div>