<div class="container footer px-0 pb-0">
    <div class="col-12 px-0 list mb-0 pt-2">
        <div class="col-3 dash text-center px-0">
            <i class="fa fa-th-large" aria-hidden="true"></i>
            <h6>Dashboard</h6>
        </div>
        <div class="col-3 dash text-center px-0">
            <i class="fa fa-th-large" aria-hidden="true"></i>
            <h6>All Projects</h6>
        </div>
        <div class="col-3 dash text-center px-0">
            <i class="fa fa-repeat" aria-hidden="true"></i>
            <h6>Work Progress</h6>
        </div>
        <div class="col-3 dash text-center px-0">
            <i class="fa fa-user" aria-hidden="true"></i>
            <h6>Reach Us</h6>
        </div>
    </div>
</div>