<div class="container footer px-0 pb-0">
    <div class="col-12 px-0 list mb-0 pt-2">
        <div [routerLink]="['/dashboard']" class="col-3 dash text-center px-0" routerLinkActive
            #dashboard="routerLinkActive">
            <!-- <i class="fa fa-th-large" aria-hidden="true"></i> -->
            <img class="w-20" src="{{ dashboard.isActive ? dashboard_img_active : dashboard_img }}">

            <h6 [ngClass]="dashboard.isActive ? 'active' : ''" >Dashboard</h6>
        </div>
        <div [routerLink]="['/all-projects']" class="col-3 dash text-center px-0" routerLinkActive
            #allprojects="routerLinkActive">
            <!-- <i class="fa fa-th-large" aria-hidden="true"></i> -->
            <img class="w-20" src="{{ allprojects.isActive ? all_project_img_active : all_project_img }}">

            <h6 [ngClass]="allprojects.isActive ? 'active' : ''" >All Projects</h6>
        </div>
        <div [routerLink]="['/update-work']" class="col-3 dash text-center px-0" routerLinkActive #workprogress="routerLinkActive">
            <!-- <i class="fa fa-repeat" aria-hidden="true"></i> -->
            <img class="w-20" src="{{ workprogress.isActive ? workprogress_img_active : workprogress_img }}">

            <h6 [ngClass]="workprogress.isActive ? 'active' : ''" >Work Progress</h6>
        </div>
        <div [routerLink]="['/reach-us']" class="col-3 dash text-center px-0" routerLinkActive #reachus="routerLinkActive">
            <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
            <img class="w-20" src="{{ reachus.isActive ? reachus_img_active : reachus_img }}">

            <h6 [ngClass]="reachus.isActive ? 'active' : ''" >Reach Us</h6>
        </div>
    </div>
</div>


<!-- ///////////////ON DESKTOP////////////////////// -->

<div class="footer-desktop">
    <div class="col-12 text-center footer-web">
        <p class="mb-1"><i class="fa fa-copyright" aria-hidden="true"></i>Copyright 2020 .HDFC.All Rights Reserved</p>
    </div>
</div>