<!-- <p>disbursement-records works!</p> -->
<div class="col-lg-12 col-12 padlr mt-4 pb-4">
  <div class="col-lg-3 col-5 offset-lg-9 offset-7 text-right padlr">
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Yearly
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item fs-13" href="#">Monthly</a>
        <a class="dropdown-item fs-13" href="#">Weekly</a>

      </div>
    </div>
  </div>
<div class="col-lg-12 col-12 padlr">
    <div style="display: block;">
        <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
</div>
</div>