@media(min-width: 300px) and (max-width: 576px)
{
    .textr{
        text-align: right !important;
    }
    
   
    .padlr{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .padl{
        padding-left: 0px !important;
    }
    .padr{
        padding-right: 0px !important;
    }
    

}
.dropdown-menu{
  width: 6rem !important;
  left: 0px !important;
  min-width: 0px !important;
} 
.dropdown-item{
    padding: .25rem 1.3rem !important;
}
.btn-secondary{
    color: #212529 !important;
    font-size: 13px !important;
}