
.br{
    border: 1px solid lightgray;
}
.newbtn{
    background-color: #3A77DF;height: 70%;border-radius: 25px;color: white;
}
.newimg{
    width: 10px !important;
    height: 10px !important;
}
.b-radius{
    border-radius: 9px !important;
}
.ls{
    letter-spacing: 2px !important;
}
.cgray{
    color: gray !important; 
}


@media(min-width:300px) and (max-width:500px){
    .text-right{
        text-align: left !important;
    }
    .pl-5{
        padding-left: 0px !important;
    }
}