@media screen and (min-width:320px) and (max-width: 576px){
            /* MAIN CONTAIN  */
            .flex-mobile {display: inline-flex;}
            .main-list{margin-top: 20px;border: 1px solid rgb(156, 155, 155);padding: 10px;border-radius: 10px;}
            .main_btn_log{ display: none;}
            .circle {display:inline-flex;position: absolute;right: 0;top:60%}
            .circle p{font-size: 12px;}
            .pro-name {font-size: 12px;padding-top: 6px;}
            .app-cir {display: inline-flex;}
            .top{ display: inline-flex;}
            .cell {display: inline-flex;}
            .cell img {height: 20px;}
            .pen {color: #e3310d;}
            .app {color: #6dcc8d;}
            .name {padding-left: 10px !important;}
            .Q-ser{display: inline-flex;}
            .f-btn{display:none}
            .i-con{top: 0;position: absolute;right: 8%;padding-top: 10px!important;padding-left: 20px;text-align: end;}
              p{margin-bottom: 0px !important;padding-bottom: 5px !important;}
              input[type=search] {border: none;padding: 0px;width: 80%!important;font-size: 12px;padding-top: 4px;}
              /* input{border: none;padding: 0px;width: 80%!important;font-size: 12px;padding-top: 4px;} */
              .w-01 {width: 30px;}
              .badge {height: 15px;width: 15px;font-size: 9px;position: absolute; padding: 2px;right: -5%;}
              .fa-comments{float: right;padding-top: 6px;height: 25px;width: 35px;position: relative !important;}
              .flex {display: block !important}
              .fit {padding-left: 0px !important;}
              .ter {font-size: 14px;}
              .icon-add img {height: 20px;}
              .first-line {display: none;}
              mat-label {font-size: 13px !important;}

              /* --------------------modalbox------------------ */
              #upload .up {width: 32% !important;
                position: absolute;
                right: 4px !important;
                z-index: 5;
                opacity: 0;
                top: -8px !important;
                height: 30px;}
                .btn-primary {
                width: 40% !important;
                }  
                .max-width-50 {
                  max-width: 140px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
             
}

@media screen and (min-width:576px) and (max-width: 2000px){
              /* MAIN CONTENT  */
    .main-list{border: 0.5px solid #dfdede;font-size: 13px;display: inline-flex;border-radius: 10px;box-shadow: 0px 0px 1.5px 0px rgb(167, 166, 166);margin-top: 20px;}
    .main-list:hover{border: 1px solid grey;box-shadow: 0px 2px 2px grey;}
    
    .circle{display: inline-flex;}
    .w-01 {height: 30px;}
    .i-con .badge {height: 15px;width: 15px;font-size: 9px;position: absolute; padding: 2px;right: 6%;}
    .top{padding-top: 15px; display: inline-flex;}
    .fa-comments{float: right;padding-top: 4px;right: 8%;height: 26px; position: relative !important;}
    .first-line{margin-right: 0px !important;display: inline-flex;}
    .Q-ser{display: inline-flex;}
    .f-btn{display: inline-flex;}
    /* input{border: none;padding: 0px;width: 80%!important;font-size: 12px;padding-top: 4px;} */
    input[type=search] {border: none;padding: 0px;width: 90%!important;font-size: 13px;padding-top: 4px;}
    .app {color: #6dcc8d;}
    .pen {color: #e3310d;}
    .main_btn_log {border:1px solid #e3310d;width: 100%;}
    /* .raj {padding-top: 3px;} */
    .icon-add {display: none;}
    .search{height: 48px;}

}
.mat-form-field{font-size: 13px;width: 100%;}
.flex {display: inline-flex}


.fil-div{
  display: none;
}

/* --------------------modal----------- */
.nopadding textarea {width: 100%;font-size: 13px;}
.nopadding label {font-size: 13px;}
.modal-title {color: #e3310d;}
.btn-upload {
  background-color: #e3310d;
  border-radius: 40px;
  color: white;
  border: 1px solid #e3310d;
  height: 30px;
  font-size: 12px;
  padding: 8px 25px;
  position: absolute;
  top: -8px !important;
  right: 0 !important;
}
#upload .up {
  width: 25%;
  position: absolute;
  right: 4px !important;
  z-index: 5;
  opacity: 0;
  top: -8px !important;
  height: 30px;}

  .btn-primary {
    background-color: #e3310d;
  border-radius: 40px;
  color: white;
  border: 1px solid #e3310d;
  height: 30px;
  font-size: 12px;
  padding: 5px 25px;
  width: 30%;
  }

.i-con img {outline: none !important; cursor: pointer !important;}
  .max-width-50 {
    max-width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }