<app-loader [loading]="loading"></app-loader>
<div class="col-lg-12 whole">

    <!-- ----------------BREADCRUM----------->
    <div class="col-lg-12 pl-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1 pl-0">
                <li class="breadcrumb-item home px-0"><a href="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item px-0"><a href="all-projects">All Projects</a></li>

            </ol>
        </nav>
    </div>
    <!-- ----------------BREADCRUM----------->

    <div class="col-lg-12 px-0 first-line">
        <div class="col-lg-10 mx-0 mt-2 pl-0 list">
            <h5>All Projects</h5>
            <span class="badge badge-primary ml-2 mt-1">{{ project_list_len }}</span>
        </div>
        <div class="col-lg-2 col-sm-12 search-bar pl-0">
            <div class="col-lg-12 col-12  Q-ser pr-0 pl-0">
                <!-- <div class="col-lg-6 col-9 px-0 py-0 mt-2 search">
                    <form class="form-inline  mx-0">
                        <i class="fa fa-search pr-1" aria-hidden="true"></i>
                        <input type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div> -->
                <!-- <div class="col-3  cell px-0 ml-2 pl-2 mt-2">
                    <div class="col-2 pr-4">
                        <img src="./assets/images/icons/filter.png" (click)="showFilter(1)">
                    </div>
                    <div [routerLink]="['/add-project']" class="col-2">
                    <img src="./assets/images/icons/add-project.png">
                    </div>
                </div> -->
                <div class="col-lg-12 f-btn ">
                    <!-- <div class="col-lg-6 pl-0">
                        <div class="text-center">
                            <button class="main_btn_log" (click)="showFilter(1)"><i class="fa fa-filter" aria-hidden="true"></i> Filter</button>
                        </div>
                    </div> -->
                    <div class="col-lg-12 px-0 mr-0">
                        <div class="text-center">
                            <button [routerLink]="['/add-project']" class="main_btn_log">+ Add Project</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 flex px-0 fq">
        <div class="col-lg-8 px-0 flex-mobile">
            <div class="col-lg-4 col-8 px-0 alternative">
                <mat-form-field appearance="standard">
                    <mat-label>Select</mat-label>
                    <mat-select [(ngModel)]="select_values_of_status" (change)="selectStatusOption()">
                        <mat-option value="All">All</mat-option>
                        <mat-option value="Completed">Completed</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- {{select_values_of_status | json}} -->

            </div>
            <div [routerLink]="['/add-project']" class="col-4 pt-2 icon-add text-right">
                <img src="./assets/images/icons/add-project.png">
            </div>
        </div>
        <div class="col-lg-4 col-8 px-0 pt-3 search">
            <form class="form-inline  mx-0">
                <i class="fa fa-search pr-1" aria-hidden="true"></i>
                <!-- <input type="text"  placeholder="Search" aria-label="Search"> -->
                <input type="search" placeholder="Search" name="search" [(ngModel)]="search_text" aria-label="Search">

            </form>
        </div>
    </div>

    <!-- -------------------------------HEAD TITLE ENDS HERE------------------------------------- -->




<div class="col-lg-12 row mx-0 mt-3 title-bar">
    <div class="col-xl-2 pl-0"><h6><b>Project Name</b></h6></div>
    <div class="col-xl-2 pl-0"><h6><b>Location</b></h6></div>
    <div class="col-xl-2"><h6><b>Developer Firm</b></h6></div>
    <div class="col-xl-2 text-right"><h6><b>Project Status</b></h6></div>
    <div class="col-xl-2 text-center"><h6><b>Document Upload</b></h6></div>
    <div class="col-xl-2 text-right pr-0"><h6><b>Respond to Queries</b></h6></div>
</div>

    <!-- ------------------------------MAIN CONTAIN------------------------------------ -->

    <div class="col-xl-12 col-12 px-0" *ngFor="let ans of project_list | filter:search_text">
        <div class="col-lg-12 col-12 main-list mt-3 px-0"
            *ngIf="select_values_of_status==ans.PROJECT_STAUS || !select_values_of_status || select_values_of_status == status_all">
            <div class="col-xl-2 col-6 pr-0 mb-0 name">
                <div class="col-12 px-0 top">
                    <div class="col-2 px-0"><img src="./assets/images/icons/building2.png" height="22px"></div>
                    <div [routerLink]="['/project-overview',ans.PROJECTID]" class="col-10 px-0 pro-name max-width-50" style="cursor: pointer;"><b>{{ans.PROJECT_NAME | titlecase}}</b></div>
                </div>
            </div>
            <div class="col-xl-2 col-6 pr-0 mb-0 address">
                <p class="top"><i class="fa fa-map-marker pr-1 mb-0 pt-1 text-danger "
                        aria-hidden="true"></i><b>{{ans.LOCATIONS | titlecase}}</b>
                </p>
            </div>
            <div class="col-xl-3 col-10 pr-0 ltd mb-0" >
                <p class="top"><b>{{builder_details.BUILDER_NAME | titlecase}}</b></p>
            </div>
            <div class="col-xl-1 col-4 pl-0 mt-3 px-0 tick">
                <!-- <p class="font-italic app mb-0" *ngIf="select_values_of_status == 'All' || select_values_of_status == 'Completed'"><i
                        class="fa fa-check-circle pr-1 text-success" aria-hidden="true"></i>
                    {{ans.PROJECT_STAUS}}</p> -->
                <p class="font-italic app mb-0" *ngIf="ans.PROJECT_STAUS == 'Completed'"><i
                        class="fa fa-check-circle pr-1 text-success" aria-hidden="true"></i>
                    {{ans.PROJECT_STAUS}}</p>
                <p class="font-italic pen mb-0" *ngIf="ans.PROJECT_STAUS == 'Pending'"><i aria-hidden="true"
                        class="fa fa-clock-o"></i>
                    {{ans.PROJECT_STAUS}}</p>
            </div>
            <div class="col-xl-2 col-8 pr-0 circle">
                <circle-progress [percent]="ans.doc_perc" [radius]="15" [innerStrokeWidth]="2" [space]="-2" [showUnits]="false"
                    [titleFontSize]="12" [showSubtitle]="false" [outerStrokeWidth]="3" [innerStrokeColor]="'lightblue'"
                    [outerStrokeColor]="'#3f98fd'" [animation]="true" [animationDuration]="300"></circle-progress>
                <p class="font-italic mt-3 text-secondary">Document pending</p>
            </div>
            <div class="col-xl-2 col-6 i-con pt-2 px-0">
                <img class="w-01 ml-1" src="./assets/images/icons/upload icon.png">
                <img class="w-01 ml-1" src="./assets/images/icons/view icon.png">
                <img class="ml-1 fa-comments pl-2 pt-0" src="./assets/images/icons/commet.png"
                     data-toggle="modal" data-target="#exampleModal" (click)="openQueryModel(ans)">
                <!-- <span class="badge badge-danger">12</span> -->
            </div>
        </div>

    </div>

</div>

<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MODAL BOX>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Respond To The Queries</h5>
          <button type="button" class="close pt-1" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-lg-12 px-0 nopadding">
                <label>Query :</label>
                <textarea
                  rows="5"
                  [(ngModel)]="message"
                  [maxlength]="maxChars">
                </textarea>
                <label class="nopadding clrlbl">Remaining Characters : {{message.length}}/{{maxChars}}</label>
              </div>

              <div class="col-lg-12 alternative px-0" id="upload">
                <mat-form-field appearance="standard">
                    <mat-label>CHOOSE FILES</mat-label>
                    <input matInput [value]="file_name">
                    <input class="float-right up" type="file" (change)="uploadFileEvent($event)">
                    <span class="btn-upload text-center">Upload Files</span>
                </mat-form-field>
            </div>
        </div>
        <div class="modal-footer text-center">
            <div class="col-lg-12"><input type="submit" class="btn submit-btn" value="SUBMIT" (click)="sendResponse()" data-dismiss="modal"></div>
        </div>
      </div>
    </div>
  </div>
