<div class="col-lg-12 whole">

    <!-- ----------------BREADCRUM----------->
<div class="col-lg-12 pl-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-1 pl-0">
            <li class="breadcrumb-item home px-0"><a href="#">Home</a></li>
            <li class="breadcrumb-item px-0"><a href="#">Projects</a></li>
            <li class="breadcrumb-item px-0"><a href="#">Manage</a></li>
            <li class="breadcrumb-item px-0"><a href="#">List All Projects</a></li>
        </ol>
    </nav>
</div>
    <!-- ----------------BREADCRUM----------->

 <div class="col-lg-12 row px-0 first-line ">
     <div class="col-lg-7 mx-0 mt-2 list">
         <h5>List ALL Projects</h5>
         <span class="badge badge-primary ml-2 mt-1">25</span>
     </div>
     <div class="col-lg-5 col-sm-12 search-bar row pl-0">
         <div class="col-lg-12 col-12 row Q-ser pr-0 pl-0">
         <div class="col-lg-6 col-9 px-0 py-0 mt-2 search">
                <form class="form-inline row mx-0">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  <input type="search" placeholder="Search" aria-label="Search">
                </form>
         </div>
         <div class="col-3 row cell px-0 ml-2 mt-2 pl-2" >
             <div class="col-2"><i class="fa fa-sliders" aria-hidden="true"></i></div>
             <div [routerLink]="['/add-project']" class="col-2"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
         </div>
         <div class="col-lg-6 px-0 row ml-2">
             <div class="col-lg-6 pl-0">
                <div class="text-center"> 
                    <span class="main_btn_log"><i class="fa fa-filter" aria-hidden="true"></i> Filter</span>
                </div>
             </div>
             <div class="col-lg-6 px-0 mr-0">
                <div class="text-center"> 
                    <span [routerLink]="['/add-project']"class="main_btn_log">+Add Project</span>
                </div>
             </div>
            
         </div>
     </div>
    </div>
 </div>

 <!-- -------------------------------HEAD TITLE ENDS HERE------------------------------------- -->


 <!-- ------------------------------MAIN CONTAIN------------------------------------ -->
  
     <div class="col-xl-12 col-12 main-list mt-3 px-0">

        <div class="col-xl-2 col-6 pr-0 mb-0 name">
            <p class="top"><i class="fa fa-building pr-1 mb-0 text-danger" aria-hidden="true"></i><b>Raj Grandeur</b></p></div>
        <div class="col-xl-2 col-6 pr-0 mb-0 address">
            <p class="top"><i class="fa fa-map-marker pr-1 mb-0 text-danger " aria-hidden="true"></i><b>Anderi (W)</b></p>
        </div>
        <div class="col-xl-3 col-10 pr-0 ltd mb-0">
            <p class="top"><b>Satellite Group Developer Pvt Ltd</b></p>
        </div>
        <div class="col-xl-1 col-4 pl-0 mt-3 px-0 tick">
            <p class="font-italic text-success mb-0"><i class="fa fa-check-circle pr-1 text-success" aria-hidden="true"></i> Approved</p>
        </div>
        <div class="col-xl-2 col-8 pr-0 circle">
            <circle-progress
            [percent]="99"
            [radius]="15"
            [innerStrokeWidth]="2"
            [space]="-2"
            [showUnits]="false"
            [titleFontSize]="12"
            [showSubtitle]="false"
            [outerStrokeWidth]="3"
            [innerStrokeColor]="'lightblue'"
            [outerStrokeColor]="'Blue'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
          <p class="font-italic mt-3 text-secondary">Document pending</p>
        </div>
        <div class="col-xl-2 col-6 i-con pt-2 px-0">
            <i class="fa fa-cloud-upload icons mr-2" aria-hidden="true"></i>
            <i class="fa fa-eye icons mr-2" aria-hidden="true"></i>
            <i class="fa fa-comments" aria-hidden="true" style="position: relative !important;"></i>
            <span class="badge badge-danger">12</span>
        </div>
        </div>
 
    
    
       
        

</div>