@media screen and (min-width:320px) and (max-width: 576px){
            /* MAIN CONTAIN  */
            .main-list{margin-top: 20px;border: 1px solid rgb(156, 155, 155);padding: 10px;border-radius: 10px;}
            .main_btn_log{ display: none;}
            .circle {display:inline-flex;position: absolute;right: 0;top:60%}
            .circle p{font-size: 12px;}
            .app-cir {display: inline-flex;}
            .cell {display: inline-flex;}
            .cell img {height: 20px;}
            .Q-ser{display: inline-flex;}
            .f-btn{display:none}
            .i-con{top: 0;position: absolute;right: 8%;padding-top: 10px!important;padding-left: 20px;text-align: end;}
              p{margin-bottom: 0px !important;padding-bottom: 5px !important;}
              input{border: none;padding: 0px;width: 80%!important;font-size: 12px;padding-top: 4px;}
              .w-01 {width: 30px;}
              .badge {height: 15px;width: 15px;font-size: 9px;position: absolute; padding: 2px;right: -5%;}
              .fa-comments{float: right;padding-top: 6px;height: 25px;width: 35px;}
}


@media screen and (min-width:576px) and (max-width: 2000px){
              /* MAIN CONTENT  */
    .main-list{border: 0.5px solid #dfdede;font-size: 13px;display: inline-flex;border-radius: 10px;box-shadow: 0px 0px 1.5px 0px rgb(167, 166, 166);margin-top: 20px;}
    .main-list:hover{border: 1px solid rgb(70, 70, 228);box-shadow: 0px 2px 2px grey;}
    
    .circle{display: inline-flex;}
    .w-01 {height: 30px;}
    .i-con .badge {height: 15px;width: 15px;font-size: 9px;position: absolute; padding: 2px;right: 6%;}
    .top{padding-top: 15px;}
    .fa-comments{float: right;padding-top: 4px;right: 8%;height: 26px;}
    .first-line{margin-right: 0px !important;display: inline-flex;}
    .Q-ser{display: inline-flex;}
    .f-btn{display: inline-flex;}
    input{border: none;padding: 0px;width: 80%!important;font-size: 12px;padding-top: 4px;}
    .app {color: #6dcc8d;}
}