.ml-16{
    margin-left: -8px !important;
}
input {border: none !important; width: 90% !important;}
@media(min-width: 300px) and (max-width: 576px)
{
    
    .padlr{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .padl{
        padding-left: 0px !important;
    }
    .padr{
        padding-right: 0px !important;
    }
    
}
