<div class="col-lg-12 project">
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>S.NO/CTS NO</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>PLOT NO</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>ADDRESS<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>POPULAR LANDMARK<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>

</div>
<div class="col-lg-12 mt-2 project">
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>LOCATION</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field class="drop six">
            <mat-label>STATE<span class="text-danger">*</span></mat-label>
            <mat-select>
              <mat-option>
                food
              </mat-option>
              <mat-option>
                food
              </mat-option>
               <mat-option>
                food
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field class="drop six">
            <mat-label>CITY<span class="text-danger">*</span></mat-label>
            <mat-select>
              <mat-option>
                food
              </mat-option>
              <mat-option>
                food
              </mat-option>
               <mat-option>
                food
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>PIN CODE<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>

</div> 
<div class="col-lg-12 mt-2 project">
<div class="col-lg-6">
    <mat-form-field class="drop six">
        <mat-label>PLOT THE PROJECT ON MAP<span class="text-danger">*</span>
            LATITUDE
        </mat-label>
        <mat-select>
          <mat-option>
            food
          </mat-option>
          <mat-option>
            food
          </mat-option>
           <mat-option>
            food
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="col-lg-6">
    <mat-form-field appearance="standard" class="six">
        <mat-label>LONGITUDE</mat-label>
        <input matInput>
    </mat-form-field>
</div>
</div>
<div class=" col-lg-6 col-12 button mt-4">
<div class="text-center col-lg-4 "> 
<span class="main_btn_log">Next</span>
</div>
<div class="text-center col-lg-4"> 
<span class="main_btn_log draft">Draft</span>
</div>
</div>