<form [formGroup]="address_detail_form" (ngSubmit)="submitAddressDetail(address_detail_form.value)">

  <div class="col-lg-12 project alternative">
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>S.NO/CTS NO</mat-label>
        <input matInput oninput="this.value = this.value.toUpperCase()"  formControlName="sno" maxlength="100">
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>PLOT NO</mat-label>
        <input maxlength="100" oninput="this.value = this.value.toUpperCase()"  type="text" matInput formControlName="plot_no">
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>ADDRESS<span class="text-danger">*</span></mat-label>
        <input oninput="this.value = this.value.toUpperCase()"  maxlength="500" matInput formControlName="address" pattern="^[A-Za-z0-9-.,/ ]+$">
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>POPULAR LANDMARK<span class="text-danger">*</span></mat-label>
        <input maxlength="100" oninput="this.value = this.value.toUpperCase()"  matInput formControlName="popular_landmark" pattern="^[A-Za-z0-9-., ]+$">
      </mat-form-field>
    </div>

  </div>
  <div class="col-lg-12 mt-2 project alternative">
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>LOCATION<span class="text-danger">*</span></mat-label>
        <input oninput="this.value = this.value.toUpperCase()" maxlength="100"  matInput formControlName="location" pattern="^[A-Za-z0-9-., ]+$">
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>STATE<span class="text-danger">*</span></mat-label>
        <mat-select (selectionChange)="stateChange($event)" formControlName="state">
          <mat-option *ngFor="let state of state_list" [value]="state.STATE_CD">{{state.CD_DESC}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>CITY<span class="text-danger">*</span></mat-label>
        <mat-select formControlName="city">
          <mat-option *ngFor="let city of city_list" [value]="city.CD_DESC">{{city.CD_DESC}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>PIN CODE<span class="text-danger">*</span></mat-label>
        <input oninput="this.value = this.value.toUpperCase()" type="number" min="0" matInput formControlName="pincode" maxlength="8">
      </mat-form-field>
    </div>

  </div>

  <div class="col-lg-12 mt-4">
    <div class="col-lg-2  col-12 pleft-0">
      <!-- <p class="map-btn mb-0" data-toggle="modal" data-target="#mapModal">Select Location on map</p> -->
      <button (click)="open(content)" class="main_btn_log" type="button">CONFIRM LOCATION</button>
    </div>
  </div>
  <div class="col-lg-12 mt-2 project alternative">
    <div class="col-lg-6">
      <mat-form-field appearance="standard">
        <mat-label>LATITUDE<span class="text-danger">*</span></mat-label>
        <input type="number" min="0" matInput formControlName="lat" maxlength="50">
      </mat-form-field>
    </div>
    <div class="col-lg-6">
      <mat-form-field appearance="standard">
        <mat-label>LONGITUDE<span class="text-danger">*</span></mat-label>
        <input type="number" min="0" matInput formControlName="long" maxlength="50">
      </mat-form-field>
    </div>
  </div>

  <div class="col-lg-12 text-left pleft-0">
    <label class="mb-0 bound"><b>BOUNDARY DETAILS</b></label><span class="text-danger">*</span>
  </div>
  <div class="col-lg-12 project alternative">
    <div class="col-lg-3">
      <mat-form-field appearance="standard" color="warn">
        <mat-label>EAST<span class="text-danger">*</span></mat-label>
        <input maxlength="100" oninput="this.value = this.value.toUpperCase()" type="text"  matInput formControlName="east" pattern="^[A-Za-z0-9-., ]+$">
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>WEST<span class="text-danger">*</span></mat-label>
        <input maxlength="100" oninput="this.value = this.value.toUpperCase()"  type="text"  matInput formControlName="west" pattern="^[A-Za-z0-9-., ]+$">
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>NORTH<span class="text-danger">*</span></mat-label>
        <input maxlength="100" oninput="this.value = this.value.toUpperCase()"  type="text" matInput formControlName="north" pattern="^[A-Za-z0-9-., ]+$">
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>SOUTH<span class="text-danger">*</span></mat-label>
        <input maxlength="100" oninput="this.value = this.value.toUpperCase()"  type="text" matInput formControlName="south" pattern="^[A-Za-z0-9-., ]+$">
      </mat-form-field>
    </div>

  </div>

  <div class=" col-lg-6 col-12 button mt-4 row">
    <div class="text-center col-lg-4 col-6 ">
      <button name="next" class="main_btn_log next" type="submit">NEXT</button>
    </div>
    <div class="text-center col-lg-4 col-6">
      <button name="prev" class="main_btn_log draft prev" type="button">BACK</button>
    </div>
    <div class="text-center col-lg-4 col-6 margin-cel">
      <button name="draft" class="main_btn_log draft" (click)="draftProject(address_detail_form.value)"
        type="button">DRAFT</button>
    </div>
  </div>

</form>

<ng-template #content let-modal $modal-lg:>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="map2" style="height: 500px; width: 100%;"></div>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="main_btn_log w-50 mx-auto" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
