
<div id="mySidenav" class="sidenav">
    <span class="closebtn" (click)="closeNav()">&times;</span>
    <div class="mb-5 top">
      <div class="newimg mx-auto d-block">
      <img src="./assets/images/hdfcnew.png" width="100%"> 

      </div>
    </div>
    <a routerLink="dashboard" (click)="closeNav()" routerLinkActive="active"><img class="w-10" src="./assets/images/Dashboard.png" alt=""><span class="fs-13 pl-2">Dashboard</span></a>
    <a routerLink="all-projects" (click)="closeNav()" routerLinkActive="active"><img class="w-10" src="./assets/images/All_Projects.png" alt=""><span class="fs-13 pl-2">All Projects</span></a>
    <a routerLink="update-work" (click)="closeNav()" routerLinkActive="active"><img class="w-10" src="./assets/images/Update_work_progress.png" alt=""><span class="fs-13 pl-2">Update Work Progress</span></a>
    <a routerLink="customer-lead" (click)="closeNav()" routerLinkActive="active"><img class="w-10" src="./assets/images/submit_customer_lead.png" alt=""><span class="fs-13 pl-2">Submit Customer Lead</span></a>
    <a routerLink="project-disbursement" (click)="closeNav()" routerLinkActive="active"><img class="w-10" src="./assets/images/project_disbursement.png" alt=""><span class="fs-13 pl-2">Project Disbursement</span></a>
    <a routerLink="/calculator" (click)="closeNav()" routerLinkActive="active"><img class="w-10" src="./assets/images/icons/calculators.png" alt=""><span class="fs-13 pl-2">Calculators</span></a>
    <a routerLink="setting" (click)="closeNav()" routerLinkActive="active"><img class="w-10" src="./assets/images/Settings.png" alt=""><span class="fs-13 pl-2">Settings</span></a>
    <a routerLink="/reach-us" (click)="closeNav()" routerLinkActive="active"><img class="w-10" src="./assets/images/Project_Assistance.png" alt=""><span class="fs-13 pl-2">Reach Us</span></a>
    
  </div>
  
  
  
  <div class="col-12 head d-md-none">
    <div class="row">
      <div class="col-3 menu pr-2 pt-1">
        <span style="font-size:20px;cursor:pointer" (click)="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </div>
      <div class="col-6 title text-center px-0"><h6>{{ header_title }}</h6></div>
    
    </div>
    
  </div>

  