/* .top{
    border-bottom: 1px solid;
    padding-bottom: ;
    /* box-shadow: 0px 0px 0px 5px black; */
/* } */

.sidenav {height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  /* background-color:rgb(221, 6, 6); */
  background: linear-gradient(90deg, #f83514 0%, #f72400 52%, #f83514 100%);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 20px;
}
.sidenav .fa{
  padding-right: 10px;
  margin-left: 10px;
}
.sidenav a {
  padding: 12px 8px 10px 10px;
  text-decoration: none;
  /* font-family: 'SFProText-Regular'; */
  font-size: 15px;
  color:rgb(245, 237, 237);
  display: block;
  transition: 0.1s;
  /* border: 1px solid; */
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-right: 20px;
  color:rgb(0 0 0);
}
/* .company{display: none;} */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (min-width: 500px) and (max-width: 2000px){
    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        /* background-color:rgb(221, 6, 6); */
        background: linear-gradient(90deg, #f83514 0%, #f72400 52%, #f83514 100%);
        overflow-x: visible;
        transition: 0.2s;
        padding-top: 20px;
      }
      .sidenav .closebtn {display: none;}
      .sidenav a {font-size: 12px;padding: 8px 8px 10px 23px;}
      
}

.menu{height: 40px;margin-top: 0px;}



.head{height: 40px;background: linear-gradient(90deg, #f83514 0%, #f72400 52%, #f83514 100%);position: sticky !important;z-index: 1;top: 0;}
.title {font-size: 15;color: white;padding-top: 10px;}

.w-10{
  width: 10px;
}
.newimg{
  width: 146px;
  /* height: 48px; */
}