
<div id="mySidenav" class="sidenav">
    <span class="closebtn" (click)="closeNav()">&times;</span>
    <div class="mb-5 ml-2 top"><img src="./assets/images/hdfc-logo.png"> 
    </div>
    <!-- <div class="company ml-5">
        <img src="./assets/images/company_logo.png"> 
        <div class="col-8" style="border: 1px solid;">
        <h6>Welcome!</h6>
        <p>Hi-tech India Builders & Developers</p>
    </div>
    </div> -->
    <a routerLink="/" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>Dashboard</a>
    <a routerLink="/" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>All Projects</a>
    <a routerLink="/" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>Update Work Progress</a>
    <a routerLink="/" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>Submit Customer Lead</a>
    <a routerLink="/" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>Project Disbursement</a>
    <a routerLink="/" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>Respond Queries</a>
    <a routerLink="/" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>Calculators</a>
    <a routerLink="/" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>Settings</a>
    <a routerLink="/" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>Reach Us</a>
    
  </div>
  
  
  
  <div class="col-12 head d-md-none">
    <div class="row">
      <div class="col-3 menu pr-2">
        <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
      </div>
      <!-- <div class="col-6 head text-center pl-0 pr-0"><h6>{{ header_title }}</h6></div> -->
      <div class="col-6 head text-center pl-0 pr-0"><h6>DASHBOARD</h6></div>
      <div class="col-3 icon">
  
          <i class=" fa fa-ellipsis-v" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" cursor: pointer; float: right;">
          </i>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           
            <a class="dropdown-item" routerLink="/profile-view"><i class="fa fa-user-circle-o pr-3 pt-1 float-left" aria-hidden="true"></i>Profile</a>
           
            <a class="dropdown-item" routerLink="/settings"><i class="fa fa-cog pr-3 pt-1 float-left" aria-hidden="true" ></i>Setting</a>
           
            <a class="dropdown-item" routerLink="/billings"><i class="fa fa-clock-o pr-3 pt-1 float-left" aria-hidden="true" ></i>Billing</a>
           
            <!-- <div class="dropdown-divider"></div> -->
           
            <a class="dropdown-item" routerLink="/logout"><i class="fa fa-arrow-left pr-3 pt-1 float-left" aria-hidden="true"></i>Logout</a>
          </div>
      
        <!-- <span class="badge badge-warning"></span> -->
      </div>
    </div>
  </div>