<div class="col-lg-12 col-12 padl">
    <div class="col-lg-12 col-12 shadow bg-white brnew mt-4">
        <p class="fs-14 pt-2 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci minus optio delectus neque quam aspernatur necessitatibus est. Repellendus animi iste quod non consectetur, aperiam ipsum ducimus magnam sit, nihil nisi?</p>
    </div>
    <div class="col-lg-12 col-12 row m-0 padlr">
        <div class="col-lg-6 col-6 pt-2 padlnew">
            <div style="background-color: rgb(193,236,255);"  class="shadow  brnew">
                <div class="mainimg mx-auto d-block pt-4">
                <img  src="./assets/images/china.jpg" alt="" width="100%">
            </div>
                <h6 class="fs-16 pl-4">EMI Calculator</h6>
            </div>
        </div>
        <div class="col-lg-6 col-6 pt-2 padrnew">
            <div style="background-color: rgb(234,213,252);" class="shadow brnew">
                <h6 class="fs-16 pl-4">EMI Calculator</h6>

            </div>

        </div>
        <div class="col-lg-6 col-6 pt-2 padlnew">
            <div style="background-color: rgb(255,212,231)" class="shadow brnew">
                <h6 class="fs-16 pl-4">EMI Calculator</h6>

            </div>

        </div>
        <div class="col-lg-6 col-6 pt-2 padrnew">
            <div style="background-color: rgb(204,225,254)" class="shadow brnew">
                <h6 class="fs-16 pl-4">EMI Calculator</h6>

            </div>

        </div>
    </div>
</div>
