<div class="col-lg-12 col-12 padl">
    <div class="col-lg-12 col-12 shadow bg-white brnew mt-4">
        <p class="fs-14 pt-2 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci minus optio delectus neque quam aspernatur necessitatibus est. Repellendus animi iste quod non consectetur, aperiam ipsum ducimus magnam sit, nihil nisi?</p>
    </div>
    <div class="col-lg-12 col-12 row m-0 px-0">
        <div class="col-lg-6 col-6 pt-4 padlnew padl">
            <div style="background-color: rgb(193,236,255);"  class="shadow  brnew p-2">
                <div class="mainimg mx-auto d-block pt-4">
                <img  src="./assets/images/calculator/EMIcal.png" alt="" width="100%">
            </div>
                <h6 class="fs-16 pl-2 font-weight-bold pt-4">EMI</h6>
                <h6 class="fs-16 pl-2 font-weight-bold">Calculator</h6>
            </div>
        </div>
        <div class="col-lg-6 col-6 pt-4 padrnew padr">
            <div style="background-color: rgb(234,213,252);" class="shadow brnew p-2">
                <div class="mainimg mx-auto d-block pt-4">

                <img  src="./assets/images/calculator/affordabilitycal.png" alt="" width="100%">
            </div>
            <h6 class="fs-16 pl-2 font-weight-bold pt-4">Affordability</h6>
            <h6 class="fs-16 pl-2 font-weight-bold">Calculator</h6>

                
            </div>

        </div>
        <div class="col-lg-6 col-6 pt-4 padlnew padl">
            <div style="background-color: rgb(255,212,231)" class="shadow brnew p-2">
                <div class="mainimg mx-auto d-block pt-4">

                    <img  src="./assets/images/calculator/eligibilitycal.png" alt="" width="100%">
                </div>
                <h6 class="fs-16 pl-2 font-weight-bold pt-4">Eligibility</h6>
                <h6 class="fs-16 pl-2 font-weight-bold">Calculator</h6>
                
            </div>

        </div>
        <div class="col-lg-6 col-6 pt-4 padrnew padr">
            <div style="background-color: rgb(204,225,254)" class="shadow brnew p-2">
                <div class="mainimg mx-auto d-block pt-4">

                    <img  src="./assets/images/calculator/clsscal.png" alt="" width="100%">
                </div>
                <h6 class="fs-16 pl-2 font-weight-bold pt-4">CLSS</h6>
                <h6 class="fs-16 pl-2 font-weight-bold">Calculator</h6>

            </div>

        </div>
    </div>
</div>
