@media screen and (min-width:576px) and (max-width: 2000px){
   
    .padl{
        padding-left: 0px !important;
    }
    .padr{
        padding-right: 0px !important;
    }
    .mainimg{
        width: 114px !important;
    }
    .whole{
        padding-right: 40px !important;
    }
}

@media(min-width: 300px) and (max-width: 576px)
{
    
    .padlr{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .padlnew{
        padding-left: 0px !important;
    }
    .padrnew{
        padding-right: 0px !important;
    }
    .mainimg{
        width: 80px !important;
       
    }
}

h6{
    color: black !important;
}