<div class="col-lg-12 whole">

    <!-- ----------------BREADCRUM----------->
    <div class="col-lg-12 pl-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1 pl-0">

                <li class="breadcrumb-item home px-0"><a href="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item px-0"><a href="customer-lead">Submit Customer Lead</a></li>
            </ol>
        </nav>
    </div>
    <!-- ----------------BREADCRUM----------->

    <div class="col-lg-12 row px-0 first-line ">
        <div class="col-lg-7 mx-0 mt-2 list">
            <h5>Submit Customer Lead</h5>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 px-0" id="submit2">

        <mat-tab-group mat-align-tabs="end" id="submit2">
            <div class="col-lg-12 col-12 ">
                <mat-tab label="Single Entry">
                    <form class="pb-4" [formGroup]="customer_lead_form"
                        (ngSubmit)="submitForm(customer_lead_form.value)">
                        <div class="col-lg-12 project alternative">
                            <div class="col-lg-3">
                                <mat-form-field appearance="standard">
                                    <mat-label>CUSTOMER NAME<span class="text-danger">*</span></mat-label>
                                    <input matInput formControlName="I_Cust_Name" type="text">

                                </mat-form-field>
                                <span class="text-danger fs-12"
                                    *ngIf="customer_lead_form.controls['I_Cust_Name'].hasError('required') && (customer_lead_form.controls['I_Cust_Name'].touched)">
                                    Customer Name is Required.
                                </span>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field appearance="standard">
                                    <mat-label>MOBILE NUMBER<span class="text-danger">*</span></mat-label>
                                    <input matInput formControlName="I_Cust_Mobile" type="text">
                                </mat-form-field>
                                <span class="text-danger fs-12"
                                    *ngIf="customer_lead_form.controls['I_Cust_Mobile'].hasError('required') && (customer_lead_form.controls['I_Cust_Mobile'].touched)">
                                    Mobile Number is Required.
                                </span>
                                <span class="text-danger fs-12"
                                    *ngIf="customer_lead_form.controls['I_Cust_Mobile'].hasError('pattern')">
                                    Please enter valid number
                                </span>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field appearance="standard">
                                    <mat-label>EMAIL ID<span class="text-danger">*</span></mat-label>
                                    <input matInput formControlName="I_Cust_Email" type="email">


                                </mat-form-field>
                                <span class="text-danger fs-12"
                                    *ngIf="customer_lead_form.controls['I_Cust_Email'].hasError('required') && (customer_lead_form.controls['I_Cust_Email'].touched)">
                                    Email ID is Required.
                                </span>
                                <span class="text-danger fs-12"
                                    *ngIf="customer_lead_form.controls['I_Cust_Email'].hasError('email') ">
                                    Invalid Email ID
                                </span>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field appearance="standard">
                                    <mat-label>STATE</mat-label>
                                    <mat-select matNativeControl formControlName="I_STATE"
                                        (selectionChange)="selectStateValue($event)" required>


                                        <mat-option [value]="option.STATE_CD" *ngFor="let option of all_state">
                                            {{option.CD_DESC}}</mat-option>

                                    </mat-select>

                                    <mat-error
                                        *ngIf="customer_lead_form.controls['I_STATE'].hasError('required') && (customer_lead_form.controls['I_STATE'].touched)">
                                        Please Select State
                                    </mat-error>
                                </mat-form-field>
                                <!-- {{selectValues | json}} -->
                                <!-- customer_lead_form.controls['email'].hasError('required') && (customer_lead_form.controls['email'].touched)" -->
                            </div>

                        </div>
                        <div class="col-lg-12 mt-2 project alternative">
                            <div class="col-lg-3">
                                <mat-form-field appearance="standard">
                                    <mat-label>CITY</mat-label>
                                    <mat-select matNativeControl formControlName="I_CITY" required>


                                        <mat-option [value]="option.CD_DESC" *ngFor="let option of list_city">
                                            {{option.CD_DESC}}</mat-option>
                                        <!-- <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option> -->
                                    </mat-select>
                                    <mat-error
                                        *ngIf="customer_lead_form.controls['I_CITY'].hasError('required') && (customer_lead_form.controls['I_CITY'].touched)">
                                        Please Select City
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field appearance="standard">
                                    <mat-label>BOOKING STATUS</mat-label>
                                    <mat-select matNativeControl formControlName="I_BOOKING_STATUS" required>
                                        <mat-option value="Booked">Booked</mat-option>
                                        <!-- <option value="15">15</option>
                                        <option value="20">20</option> -->
                                    </mat-select>
                                    <mat-error
                                        *ngIf="customer_lead_form.controls['I_BOOKING_STATUS'].hasError('required') && (customer_lead_form.controls['I_BOOKING_STATUS'].touched)">
                                        Please Select booking status
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>INTERESTED PROJECT</mat-label>
                                    <mat-select matNativeControl formControlName="I_PROJECT_ID" required>
                                        <mat-option [value]="option.PROJECTID"
                                            *ngFor="let option of project_list">
                                            {{option.PROJECT_NAME}}</mat-option>
                                        <!-- <mat-option value="option">m1</mat-option>
                                        <mat-option value="option">Option</mat-option>
                                        <mat-option value="option">m1</mat-option> -->
                                    </mat-select>
                                    <mat-error
                                        *ngIf="customer_lead_form.controls['I_PROJECT_ID'].hasError('required') && (customer_lead_form.controls['I_PROJECT_ID'].touched)">
                                        Please Select Interested Porject.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-2 project alternative">
                            <div class="col-lg-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>OTHER PROJECT INFO</mat-label>
                                    <textarea matInput formControlName="I_OTHER_PROJ_INFO" type="text"></textarea>
                                </mat-form-field>
                                <span class="text-danger fs-12"
                                    *ngIf="customer_lead_form.controls['I_OTHER_PROJ_INFO'].hasError('required') && (customer_lead_form.controls['I_OTHER_PROJ_INFO'].touched)">
                                    Other Project Info is Required.
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>REMARK</mat-label>
                                    <textarea matInput formControlName="I_REMARKS" type="text"></textarea>
                                </mat-form-field>
                                <span class="text-danger fs-12"
                                    *ngIf="customer_lead_form.controls['I_REMARKS'].hasError('required') && (customer_lead_form.controls['I_REMARKS'].touched)">
                                    Remark is Required.
                                </span>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-12 px-0 button mt-4">
                            <div class="text-center col-lg-4 col-6 submit">
                                <button type="submit" class="main_btn_log btn"
                                    [disabled]="submit_button">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </mat-tab>
                <!-- ----------------------------------------------------------------------------           -->
                <mat-tab label="Upload through Excel">
                    <div class="col-lg-12 project alternative">
                        <div class="col-lg-6">
                            <mat-form-field appearance="standard">
                                <mat-label>SELECT PROJECT</mat-label>
                                <mat-select matNativeControl required (selectionChange)="selectProjectOption($event)">
                                    <mat-option [value]="option.PROJECTID" *ngFor="let option of project_list">
                                        {{option.PROJECT_NAME}}</mat-option>
                                    <!-- <mat-option value="option">m1</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6" id="chos">
                            <mat-form-field appearance="standard">
                                <mat-label>CHOOSE EXCEL FILE</mat-label>
                                <input matInput [value]="file_name">

                                <input class="float-right chos" type="file" (change)="ExcelFileEvent($event)">
                                <span class="main_btn_log text-center">Upload Excel</span>
                                <!-- <input type="file" class="main_btn_log" value="chosse"> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-12 col-12 px-0">
                        <div class=" col-lg-6 col-12 px-0 button mt-4">
                            <div class="text-center col-lg-4 col-6 submit">
                                <input type="button" class="main_btn_log" value="SUBMIT" (click)="uploadThroughExcel()">
                            </div>
                        </div>
                        <div class=" col-lg-6 col-12 button down mt-4 text-right">
                            <div class="col-lg-12 col-12 text-right sample">
                                <p class="font-italic text-primary para" (click)="downloadSample()"><i class="fa fa-download pr-2"
                                        aria-hidden="true"></i>Download Excel Sample Format</p>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </div>
        </mat-tab-group>
    </div>









</div>