.project{display: inline-flex; }
.mat-form-field{font-size: 12px;width: 100%;}
.button {display: inline-flex;}
.next {border: 1px solid red;}
.draft {background-color: white;color: #e3310d ;border-color: #e3310d;box-shadow: none;border: 1px solid #e3310d;}
.chos {position: absolute;top: 0;right: -3px;opacity: 0;width: 20%;}
#chos .main_btn_log {width: 20%;position: absolute;top: -8px;right: 0%;height: 30px !important;z-index: -1;padding: 6px;}
.para:hover{cursor: pointer;text-decoration: underline;}
.para {font-family: 'Titillium Web' !important;font-size: 14px;}
.mat-form-field {font-family: 'Titillium Web' !important;}
.main_btn_log {width: 100%;border: 1px solid #e3310d;}
.main_btn_log1 {width: 23%;border: 1px solid #e3310d;
    border-radius: 50px;
       background-color: #e3310d;
       color: white;
       display: block;
       font-size: 13px;
       /* height: 35px; */
       cursor: pointer;
       padding: 8px;
       box-shadow: 1px 3px 8px #ed1c2452;
       margin-bottom: 5% !important;
       margin-left: 77% !important;

    }
    
@media screen and (min-width:1850px) and (max-width: 2000px){
    #chos .main_btn_log {top: -11px !important;}
}
    
@media screen and (min-width:320px) and (max-width: 576px){
    .project{display: block;padding-left: 0px !important;padding-right: 0px !important;}
    .mat-form-field{width: 100%;}
    #chos .main_btn_log {width: 35%;}
    .chos {right: 15px;}
    .next {border: 1px solid #e3310d;}
    .sample {padding-right: 0px !important;}
    .submit {margin: auto;}
    .main_btn_log1 {width: 37% !important;border: 1px solid #e3310d;
        border-radius: 50px;
           background-color: #e3310d;
           color: white;
           display: block;
           font-size: 13px;
           /* height: 35px; */
           cursor: pointer;
           padding: 8px;
           box-shadow: 1px 3px 8px #ed1c2452;
           margin-bottom: 9% !important;
           margin-left: 66% !important;
        }

}
