.project{display: inline-flex; }
.mat-form-field{font-size: 12px;width: 100%;}
/* .mat-label {padding-bottom: 10px;} */
.drop{margin-top: 11px;}
.six{width: 100%;}
.button {padding-bottom: 4%;}
.draft {background-color: white;color: #e3310d;border-color: #e3310d;box-shadow: none;border: 1px solid #e3310d;}
/* .radio {width: 25px !important;} */
.btn-radio{color: grey;font-size: 12px;}
.para{margin-bottom: 0px !important;}

.mat-form-field {font-family: 'Titillium Web' !important;}
.mb-0 {display: flex;}
.card-h5 {padding-top: 10px;font-size: 12px;}
.first-line{margin-right: 0px !important;}
.card {border: none!important;border-radius: 9px !important;}
.accordion {border: none;}
.main-box {border: 1px solid lightgray;border-radius: 9px ;}
.label {font-size: 12px;}
.main_btn_log {width: 100%;border: 1px solid #e3310d;}
.row {margin-left: 0px !important;}

@media screen and (min-width:320px) and (max-width: 576px){
    .project{display: block;padding-left: 0px !important;}
    .mat-form-field{width: 100%;}
    .pleft-0 {padding-left: 0px !important;}
    .margin-cel {margin-top: 15px;float: right !important;}
}
/* input, mat-select{
  text-transform: uppercase !important;
} */

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.invalid{
  color:#f44336;
}