<div class="col-lg-12 project">
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>PLOT AREA (IN SQMTR)<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>TOTAL NUMBER OF BUILDINGS<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>TOTAL BUILD-UP AREA(IN SQMTR)</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>PROJECT COST IN CRS.(APPX)</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

</div>
<!-- ------------------------------------ACCORDANT------------------------ -->
<div class="col-lg-12">
<div class="col-lg-12 mt-3 main-box">
    <label class="mt-2 label">TOTAL NUMBER OF UNITS</label>
    <div class="accordion" id="accordionExample">
        <div class="card shadow">
          <div class="card-header bg-white px-0" id="headingOne">
            <h2 class="mb-0">
                <div class="col-10 icon"><h5 class="card-h5"> 
                    <b>RESIDENTAIL</b></h5></div>
                <div class="col-2">
              <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-plus text-dark" aria-hidden="true"></i>
              </button>
            </div>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse mb-1" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="col-lg-12 project">
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>TOTAL UNITS</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>SOLD UNITS</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>AVAILABLE FOR SOLD</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-lg-12 project">
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>RATE PER SOFT</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>AREA UNIT</mat-label>
                            <mat-select>
                              <mat-option value="option">CARPET AREA</mat-option>
                              <mat-option value="option">HALL AREA</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
            
            </div>
          </div>
        </div>
        <div class="card shadow mt-4">
          <div class="card-header bg-white px-0" id="headingTwo">
            <h2 class="mb-0">
                <div class="col-10 icon"><h5 class="card-h5">
                    <b>COMERCIAL</b></h5></div>
                <div class="col-2">
              <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fa fa-plus text-dark" aria-hidden="true"></i>
              </button>
            </div>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="col-lg-12 project">
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>TOTAL UNITS</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>SOLD UNITS</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>AVAILABLE FOR SOLD</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-lg-12 project">
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>RATE PER SOFT</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>AREA UNIT</mat-label>
                            <mat-select>
                              <mat-option value="option">CARPET AREA</mat-option>
                              <mat-option value="option">HALL AREA</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card shadow mt-4">
          <div class="card-header bg-white px-0" id="headingThree">
            <h2 class="mb-0">
                <div class="col-10 icon"><h5 class="card-h5">
                    <b>PLOTS</b></h5></div>
                <div class="col-2">
              <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <i class="fa fa-plus text-dark" aria-hidden="true"></i>
              </button>
            </div>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="col-lg-12 project">
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>TOTAL UNITS</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>SOLD UNITS</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>AVAILABLE FOR SOLD</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-lg-12 project">
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>RATE PER SOFT</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>AREA UNIT</mat-label>
                            <mat-select>
                              <mat-option value="option">CARPET AREA</mat-option>
                              <mat-option value="option">HALL AREA</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card shadow mt-4 mb-4">
            <div class="card-header bg-white px-0" id="headingThree">
              <h2 class="mb-0">
                  <div class="col-10 icon"><h5 class="card-h5">
                      <b>BUNGALOWS</b></h5></div>
                  <div class="col-2">
                <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  <i class="fa fa-plus text-dark" aria-hidden="true"></i>
                </button>
              </div>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <div class="col-lg-12 project">
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>TOTAL UNITS</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>SOLD UNITS</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>AVAILABLE FOR SOLD</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-lg-12 project">
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>RATE PER SOFT</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="standard">
                            <mat-label>AREA UNIT</mat-label>
                            <mat-select>
                              <mat-option value="option">CARPET AREA</mat-option>
                              <mat-option value="option">HALL AREA</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
              </div>
            </div>
          </div>

      </div>
</div>
</div>
<!-- ----------------------------ACCORDANT----END HERE----------------------- -->


<div class="col-lg-12 mt-2 project">
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>PLAN APPROVAL AUTHORITY NAME</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>UNITS ALLOTED TO LANDOWNER TOTAL NUMBERS<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>
   
    <div class="col-lg-6">
      <mat-form-field appearance="standard">
        <mat-label> MENTION SPECFIC DETAILS(UNDER DEYAILS)<span class="text-danger">*</span></mat-label>
        <input matInput>
    </mat-form-field>
    </div>
    
  
</div> 
<div class="col-lg-12 mt-2 project">
    <div class="col-lg-6 btn-radio">
        <p class="para">CONSTRUCTION FINANCE DETAILS 
            IS THE PROJECT MORTGAGED WITH ANY FINANCIAL INSTITUTE
            <span class="text-danger">*</span></p>
        <form >
          <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">YES</mat-radio-button>
              <mat-radio-button value="2" class="ml-3">NO</mat-radio-button>
            </mat-radio-group>
        </form>
      </div>

<div class="col-lg-6">
    <mat-form-field appearance="standard" class="six">
        <mat-label>FINANCIAL INSTITUDE NAME<span class="text-danger">*</span></mat-label>
        <input matInput>
    </mat-form-field>
</div>
</div>

<div class="col-lg-12 mt-2 project">
    <div class="col-lg-6">
        <mat-form-field appearance="standard" class="six">
            <mat-label>HDFC CLPS NO<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-6 btn-radio">
        <p class="para">ANY REQUIREMENT FOR CONSTRUCTION FINANCE<span class="text-danger">*</span></p>
        <form >
          <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">YES</mat-radio-button>
              <mat-radio-button value="2" class="ml-3">NO</mat-radio-button>
            </mat-radio-group>
        </form>
      </div>
</div>

<div class=" col-lg-6 col-12 button mt-4">
<div class="text-center col-lg-4 "> 
<span class="main_btn_log next">NEXT</span>
</div>
<div class="text-center col-lg-4"> 
<span class="main_btn_log draft">DRAFT</span>
</div>
</div>