<app-loader [loading]="loading"></app-loader>
<div class="col-lg-12 whole">

    <!-- ----------------BREADCRUM----------->
    <div class="col-lg-12 pl-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1 pl-0">
                <li class="breadcrumb-item home px-0"><a href="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item px-0"><a href="update-work">Update Work Progress</a></li>
                <!-- <li class="breadcrumb-item px-0"><a href="project-overview">Project Overview</a></li> -->
                <li class="breadcrumb-item px-0"><a href="raise-demand">Raise Demand Letter</a></li>
            </ol>
        </nav>
    </div>
    <!-- ----------------BREADCRUM----------->

    <div class="col-lg-12 pl-0 first-line ">
        <div class="col-lg-9 pl-0 mx-0 mt-2 list">
            <h5>Raise Demand Letter</h5>
            <span class="badge badge-primary ml-2 mt-1">{{ demand_letter_len }}</span>
        </div>
        <div class="col-lg-3 col-sm-12 search-bar px-0">
            <!-- <div class="col-lg-12 col-12 Q-ser pr-0 pl-0"> -->
            <div class="col-lg-12 col-12 px-0 py-0 mt-3 search">
                <form class="mx-0">
                    <i class="fa fa-search pr-1" aria-hidden="true"></i>
                    <input type="search" placeholder="Search" name="search" aria-label="Search"
                        [(ngModel)]="search_text">
                </form>
            </div>
        </div>
    </div>

    <!-- -------------------------------HEAD TITLE ENDS HERE------------------------------------- -->

    <div class="col-lg-12 pl-0 search-result">
        <!-- <p class="font-italic mb-0 pt-1">To raise demand letter click on this icon
                <img class="w-02 ml-1" src="./assets/images/icons/upload.png">
            </p> -->
        <p><b>{{ building_name }}</b></p>


    </div>






    <!-- ------------------------------MAIN CONTAIN------------------------------------ -->
    <!-- 
    <div class="col-xl-12 col-12 main-list mt-3 px-0" *ngFor="let dl of demand_letter">

        <div class="col-xl-1 col-6 pr-0 mb-1 name">
            <span class="badge badge-light">{{ dl.FILE_NO }}</span>
        </div>
        <div class="col-xl-3 col-6 pr-0 mb-0 address">
            <p class="top mb-0"><b>{{ dl.CUSTOMER_NAME }}</b>
            </p>
        </div>
        <div class="col-xl-2 col-10 pr-0 ltd mb-0">
            <p class="top mb-0"><b>{{ dl.FLAT_NO }} / {{ dl.FLOOR_NO }}</b></p>
        </div>
        <div class="col-xl-2 col-10 pl-0 mt-3 colour">
            <p class="font-italic mb-0"><i class="fa fa-circle text-success" aria-hidden="true"></i> Completion store</p>
        </div>
        <div class="col-xl-2 col-8 pl-0 pt-2 bar">
            <label class="text-secondary font-italic mb-0">As on 04 sep'19</label>
            <span class="float-right span-50"><b>50%</b></span>
            <div class="progress " style="height: 5px;">
                <div class="progress-bar bar-green" role="progressbar" style="width: 50%;" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-xl-2 col-6 i-con py-1">
            <img class="w-01 pr-1" src="./assets/images/icons/attach icon.png">
            <img class="w-01 pr-1" src="./assets/images/icons/view icon.png"alt="">
            <img class="w-01 ml-5 last-img" src="./assets/images/icons/upload.png">
        </div>
    </div> -->


    <!-- <<<<<<<<<<<<<<<<<<<<<<< static start here >>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div *ngFor="let dl of demand_letter | filter:search_text;let i = index;">
        <form [formGroup]="dynamic_forms[dl.FILE_NO]"
            (ngSubmit)="updateDemandLetter(dynamic_forms[dl.FILE_NO].value,dl,i)">
            <div class="col-xl-12 col-12 main-list mt-3 px-0 pt-1">

                <div class="col-xl-1 col-6 pr-0 mb-1 name">
                    <span class="badge badge-light">{{ dl.FILE_NO }}</span>
                </div>
                <div class="col-xl-3 col-6 pr-0 mb-0 address">
                    <p class="top mb-0"><b>{{ dl.CUSTOMER_NAME | titlecase }}</b>
                    </p>
                </div>
                <div class="col-xl-2 col-10 pr-0 ltd mb-0">
                    <p class="top mb-0"><b>{{ dl.FLAT_NO }} / {{ dl.FLOOR_NO }}</b></p>
                </div>
                <div class="col-xl-2 col-9 px-2 pad-l alternative">
                    <mat-form-field class="example-full-width">
                        <mat-label>Stage of Construction</mat-label>
                        <input matInput type="text" formControlName="soc">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-9 px-2 pad-l alternative">
                    <mat-form-field class="example-full-width">
                        <mat-label>Due Percentage</mat-label>
                        <input matInput type="text" formControlName="due_perc">
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-3 i-con py-2 pl-2 pr-0">
                    <img class="w-01 pr-1" src="./assets/images/icons/attach icon.png" data-toggle="modal"
                        data-target="#example" (click)="openModel(dl.FILE_NO,dl.CUSTOMER_NAME,i)">
                    <img class="w-01 pr-1" src="./assets/images/icons/view icon.png" data-toggle="modal"
                        data-target="#example2" (click)="getFiles(dl.DOC_UPLD_SRNO,dl.CUSTOMER_NAME)">
                </div>
                <div class="col-xl-1  pr-2 pl-0 pt-2 text-center">
                    <input type="submit" class="btn-submit">
                </div>
            </div>
        </form>
    </div>

</div>




<!-- -----------------------------------MODAL---------------------------- -->


<!-- Modal Number - 1 -->
<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-lg-12 col-12 bg-white shadow brnew p-3 alternative">
            <div class="modal-header">
                <h5 class="modal-title">Upload Document</h5>
                <button type="button" class="close pt-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
                </button>
            </div>
            <!-- <hr> -->
            <div class="col-lg-12 col-12 row m-0 px-0">
                <div class="col-lg-6 col-6 pl-0 pt-2">
                    <p class="top fs-13"><b>Building Name: Moti Nagar (44436)</b></p>
                </div>
                <div class="col-lg-6 col-6 pr-0 pt-2">
                    <p class="top fs-13"><b>Customer Name: {{ cust_name_selected }}</b></p>
                </div>
            </div>
            <div class="col-lg-12 col-12 px-0">
                <mat-form-field class="example-full-width">
                    <mat-label>Remark</mat-label>
                    <input matInput type="text" placeholder="" [(ngModel)]="remark">
                </mat-form-field>
            </div>
            <div class="col-lg-12 alternative px-0" id="upload">
                <mat-form-field appearance="standard">
                    <mat-label>CHOOSE FILES</mat-label>
                    <input matInput [value]="file_name[index]">
                    <input class="float-right up" type="file" (change)="uploadFileEvent($event,index)">
                    <span class="btn-upload text-center">Upload Files</span>

                </mat-form-field>
            </div>
            <div class="col-lg-12 col12 px-0mt-4 text-center">
                <div class="col-lg-5 col-6 sub-btn">
                    <input type="submit" value="SUBMIT" class="btn-submit btn-sub" (click)="uploadDemandDoc(file_selected,index)" data-dismiss="modal">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->


<!-- Modal Number - 2 -->
<div class="modal fade" id="example2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-2 col-lg-12 col-12 bg-white shadow brnew p-3 alternative">
            <div class="modal-header modal-h2">
                <h5 class="modal-title">View Document</h5>
                <button type="button" class="close pt-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
                </button>
            </div>
            <!-- <hr> -->
            <div class="col-lg-12 col-12 row m-0">
                <div class="col-lg-6 col-6 pl-0 pt-2">
                    <p class="top fs-13"><b>Building Name: {{ building_name }}</b></p>
                </div>
                <div class="col-lg-6 col-6 pr-0 pt-2">
                    <p class="top fs-13"><b>Customer Name: {{ cust_name_file }}</b></p>
                </div>
            </div>
            <div class="modal-body px-0">
                <table class="table">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">File Name</th>
                            <th scope="col">Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doc of raise_doc">
                            <td class="">{{ doc.UPLOAD_FILE_NAME }}</td>
                            <td class="text-left">{{ doc.REMARK }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->