<div class="bk-img">
    <div class="wrapper">
        <div class=" row ">

            <!-- FORM --------------------------------->

            <div class="col-lg-4 col-12 pt3pl10 pr-0">
                <div class="hdfc_logo mb-5"><img src="./assets/images/LoginPageLOGO.png" width="100%"></div>

                <div id="loginDIV alternative">
                    <form [formGroup]='login_form'>
                        <div class="login_title"> Developer Login </div>

                        <div class="form-group form-type pb-0 mb-0 pb-0 alternative">
                            <mat-form-field appearance="standard">
                                <mat-label><i class="fa fa-user text-secondary" aria-hidden="true"></i> Username
                                </mat-label>
                                <input matInput type="email" formControlName="email">
                        </mat-form-field>
                        </div>
                        <div class="col-12 mt-4">
                            <span class="text-danger fs-12 pt-5" *ngIf="login_form.controls['email'].hasError('required') && (login_form.controls['email'].touched)">
                                Please enter your email.
                            </span></div>
                        <!-- <br> -->
                        <div class="form-group form-type mt-0 pt-0 alternative">
                            <mat-form-field appearance="standard">
                                <mat-label><i class="fa fa-lock text-secondary" aria-hidden="true"></i> Password
                                </mat-label>
                                <input matInput type="password" formControlName="password">
                            </mat-form-field>   
                        </div>
                        <div class="col-12 mt-4">
                            <span class="text-danger fs-12 pt-5" *ngIf="login_form.controls['password'].hasError('required') && (login_form.controls['password'].touched)">
                                Please enter your password.
                            </span></div>


                        <a href=""><span class="float-right text-primary span mt-3">Forgot/Change Password?</span></a>

                        <div class="form-group Captcha">
                            <div class="col-7 mt-1 border border-dark">
                                <input type="text" class="input" placeholder="Insert Captcha">
                            </div>
                            <div class="col-5 Captcha-text ml-1">
                                <p class="float-left pt-2 "><b>3RUSIC</b></p>
                                <i class="fa fa-refresh float-right text-secondary pt-2" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12 text-center">
                            <div class="col-lg-12 col-12">
                                <input type="submit" class="main_btn_log " value="LOGIN" (click)="login()">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- FORM --------------------------------->

            <!-- CAROUSEL --------------------------------->

            <div class="col-lg-8 pt2pl3 mt-5 hide">
                <div id="carousel-example-1z" class="carousel slide carousel-fade mb-5" data-ride="carousel">
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                            <div class="box1 float-left login-box">
                                <div class="add_img_01"> <img src="./assets/images/ad_img_01.jpg" class="add_img01">
                                </div>
                                <div class="add_text_01 margin20"> <strong> HDFC reduces home loan rates by 10 basis
                                        points </strong> <br> Largest private sector lender HDFC Bank Tuesday has cut
                                    its lending rates by 0.10 percent across all tenors, effective Wednesday, sources
                                    said. The move comes a day ahead of the policy review by the Reserve Bank, which is
                                    reportedly peeved at lenders for not passing on its three consecutive rate cuts of
                                    0.75 percent to the borrowers.
                                </div>
                            </div>
                            <div class="box2 float-left login-box">
                                <div class="add_img_02"> <img src="./assets/images/ad_img_01.jpg" class="add_img02">
                                </div>
                                <div class="add_text_02 margin20"> <strong> HDFC Bank cuts MCLR by 0.10% acrosstenors
                                    </strong> <br> Largest private sector lender HDFC Bank Tuesday has cut its lending
                                    rates by 0.10 percent across all tenors, effective Wednesday, sources said. <br> The
                                    move comes a day ahead of the policy review by the Reserve Bank, which is reportedly
                                    peeved at lenders for not passing on its three consecutive rate cuts of 0.75 percent
                                    to the borrowers.
                                </div>
                            </div>
                            <div class="box3 float-left login-box">
                                <div class="add_text_03 margin20"> <strong> HDFC Bank cuts MCLR by 0.10% acrosstenors
                                    </strong> <br> Largest private sector lender HDFC Bank Tuesday has cut its lending
                                    rates by 0.10 percent across all tenors, effective Wednesday, sources said. <br> The
                                    move comes a day ahead of the policy review by the Reserve Bank, which is reportedly
                                    peeved at lenders for not passing on its three consecutive rate cuts of 0.75 percent
                                    to the borrowers.
                                </div>
                                <div class="add_img_03 "> <img src="./assets/images/ad_img_01.jpg" class="add_img03">
                                </div>
                            </div>
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                            <div class="box1 float-left login-box">
                                <div class="add_img_01"> <img src="./assets/images/ad_img_02.jpg" class="add_img01">
                                </div>
                                <div class="add_text_01 margin20"> <strong> HDFC reduces home loan rates by 10 basis
                                        points </strong> <br> Largest private sector lender HDFC Bank Tuesday has cut
                                    its lending rates by 0.10 percent across all tenors, effective Wednesday, sources
                                    said. The move comes a day ahead of the policy review by the Reserve Bank, which is
                                    reportedly peeved at lenders for not passing on its three consecutive rate cuts of
                                    0.75 percent to the borrowers.
                                </div>
                            </div>
                            <div class="box2 float-left login-box">
                                <div class="add_img_02"> <img src="./assets/images/ad_img_02.jpg" class="add_img02">
                                </div>
                                <div class="add_text_02 margin20"> <strong> HDFC Bank cuts MCLR by 0.10% acrosstenors
                                    </strong> <br> Largest private sector lender HDFC Bank Tuesday has cut its lending
                                    rates by 0.10 percent across all tenors, effective Wednesday, sources said. <br> The
                                    move comes a day ahead of the policy review by the Reserve Bank, which is reportedly
                                    peeved at lenders for not passing on its three consecutive rate cuts of 0.75 percent
                                    to the borrowers.
                                </div>
                            </div>
                            <div class="box3 float-left login-box">
                                <div class="add_text_03 margin20"> <strong> HDFC Bank cuts MCLR by 0.10% acrosstenors
                                    </strong> <br> Largest private sector lender HDFC Bank Tuesday has cut its lending
                                    rates by 0.10 percent across all tenors, effective Wednesday, sources said. <br> The
                                    move comes a day ahead of the policy review by the Reserve Bank, which is reportedly
                                    peeved at lenders for not passing on its three consecutive rate cuts of 0.75 percent
                                    to the borrowers.
                                </div>
                                <div class="add_img_03 "> <img src="./assets/images/ad_img_02.jpg" class="add_img03">
                                </div>
                            </div>
                        </div>
                        <!--/Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item">
                            <div class="box1 float-left login-box">
                                <div class="add_img_01"> <img src="./assets/images/ad_img_03.jpg" class="add_img01">
                                </div>
                                <div class="add_text_01 margin20"> <strong> HDFC Bank cuts MCLR by 0.10% acrosstenors
                                    </strong> <br> Largest private sector lender HDFC Bank Tuesday has cut its lending
                                    rates by 0.10 percent across all tenors, effective Wednesday, sources said. The move
                                    comes a day ahead of the policy review by the Reserve Bank, which is reportedly
                                    peeved at lenders for not passing on its three consecutive rate cuts of 0.75 percent
                                    to the borrowers.
                                </div>
                            </div>
                            <div class="box2 float-left login-box">
                                <div class="add_img_02"> <img src="./assets/images/ad_img_03.jpg" class="add_img02">
                                </div>
                                <div class="add_text_02 margin20"> <strong> HDFC Bank cuts MCLR by 0.10% acrosstenors
                                    </strong> <br> Largest private sector lender HDFC Bank Tuesday has cut its lending
                                    rates by 0.10 percent across all tenors, effective Wednesday, sources said. <br> The
                                    move comes a day ahead of the policy review by the Reserve Bank, which is reportedly
                                    peeved at lenders for not passing on its three consecutive rate cuts of 0.75 percent
                                    to the borrowers.
                                </div>
                            </div>
                            <div class="box3 float-left login-box">
                                <div class="add_text_03 margin20"> <strong> HDFC Bank cuts MCLR by 0.10% acrosstenors
                                    </strong> <br> Largest private sector lender HDFC Bank Tuesday has cut its lending
                                    rates by 0.10 percent across all tenors, effective Wednesday, sources said. <br> The
                                    move comes a day ahead of the policy review by the Reserve Bank, which is reportedly
                                    peeved at lenders for not passing on its three consecutive rate cuts of 0.75 percent
                                    to the borrowers.
                                </div>
                                <div class="add_img_03 "> <img src="./assets/images/ad_img_03.jpg" class="add_img03">
                                </div>
                            </div>
                        </div>
                        <!--/Third slide-->
                    </div>
                    <!--/.Slides-->

                </div>
            </div>
        </div>
    </div>
</div>