
.mat-form-field{font-size: 12px;width: 100%;}
.button {display: inline-flex;padding-bottom: 4%;}

.badge{font-size: 80%;border-radius: 0 !important;padding: 0.25em .6em !important;}
.last-one{display: inline-flex;}
.flex {display: inline-flex;}

.mat-form-field {font-family: 'Titillium Web' !important;}


.drag-box {border-radius: 9px;}
.hide-box {border-radius: 9px;overflow-y: scroll; height: 450px;}
.p-h{font-size: 15px;}
.p-y{margin: auto;}

.main_btn_log {width: 100%;border: 1px solid #e3310d;}
.btn-upload {margin: auto;}
textarea {width: 100% !important;font-size: 13px !important;}
.padd {padding: 0px 0px 15px 30px !important ;}

.fs-12 {font-size: 12px;}
.Browse {background-color: #007bff;color: white !important;padding-left: 10px;padding-right: 10px;border-radius: 3px;cursor: pointer;}
#add-project img {padding-top: 10px;padding-bottom: 10px;}
.red-box{border: 0.5px solid #e3310d;display: inline-flex;border-radius: 9px;border-bottom:10px solid #e3310d}
.blue-box{border: 0.5px solid #007bff;display: inline-flex;border-radius: 9px;border-bottom:10px solid #007bff}
.green-box{border: 0.5px solid #1f7244;display: inline-flex;border-radius: 9px;border-bottom:10px solid #1f7244}
.doc {font-size: 12px !important;}
img {cursor: pointer;}
/* width */
.hide-box::-webkit-scrollbar {
    width: 3px;
  }
   
  /* Handle */
  .hide-box::-webkit-scrollbar-thumb {
    background: lightgrey; 
  }
  
  
@media screen and (min-width:320px) and (max-width: 576px){

        .mat-form-field{width: 100%;}
        .last-one{display: block;}

        .flex {display: inline-flex !important;}
        .p-h{font-size: 10px;}
        .cet {padding-left: 10px !important;}
        p{font-size: 13px !important;}
        .img img{height: 45px;}
        .px-zero {padding-left: 0px !important;padding-right: 0px !important;}
    }
    

    @media screen and (min-width:576px) and (max-width: 2000px){
        .mar-14{ margin-left: -14px;}
 
       
    } 