<div class="col-lg-12">
    <h6 class="pt-2"><span class="badge badge-danger pr-1">1</span> Property Documents</h6>
   <div class="col-lg-12 px-0 last-one">
    <div class="col-lg-6 mt-2 col-12 px-0 last">
   <div class="col-lg-6 cell-box col-6">
          <div class="col-12 hide-box">
  <div class="container px-0">
      <p class="p-h mt-1"><b>Allotment Letter</b></p>
      
        <ngx-file-drop dropZoneLabel="Drop files here">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              <p class="p-y">Drag or <span (click)="openFileSelector()" class="text-primary">Browse</span> file.</p>
            </ng-template>
          </ngx-file-drop>

  
  </div>
  <!-- <div id="progress1" class="progress-div"> -->
      <div class="col-12 mt-2 typ">
        <mat-form-field appearance="standard">
          <mat-label>DOCUMENT TYPE</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
            <mat-option value="option">m1</mat-option>
          </mat-select>
        </mat-form-field>
         </div>
         <div class="col-12 px-0 mt-2">
          <textarea class="textarea" rows="4" placeholder="REMARKS"></textarea>
        </div>
        <div class="text-center col-lg-12 mb-2">
          <span class="main_btn_log"><i class="fa fa-cloud-upload text-white pr-1" aria-hidden="true"></i>Upload</span>
        </div>

        <!-- -----------------------AFTER UPLOAD--------------------->
        <!-- <div class="col-12 px-0 mb-2 img-c">
              <div class="col-6 px-0">
                <img src="./assets/images/pro.png">
              </div>
              <div class="col-6 pt-3 pl-0 cet">
                <p class=""><b>Certificate_001.jpg</b></p>
                <span class="text-secondary">1000 kb</span>
              </div>
            </div>
            <div class="col-12 px-0 cet-2">
              <p class="font-italic"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</b></p>
            </div> -->
        <!-- -----------------------AFTER UPLOAD--------------------->

        <!-- </div> -->
      </div>
      
      <div class="col-lg-6 cell-box col-6">
        <div class="col-12 hide-box">
<div class="container px-0">
    <p class="p-h mt-1"><b>No-Objection Certificate</b></p>
    
      <!-- <ngx-file-drop dropZoneLabel="Drop files here">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
     <p class="p-y">Drag or <span (click)="openFileSelector()" class="text-primary">Browse</span> file.</p>
          </ng-template>
      </ngx-file-drop> -->

    </div>

</div>
<!-- <div id="progress1" class="progress-div"> -->
    <!-- <div class="col-12 mt-2 typ">
      <mat-form-field appearance="standard">
        <mat-label>DOCUMENT TYPE</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
          <mat-option value="option">m1</mat-option>
        </mat-select>
      </mat-form-field>
       </div>
       <div class="col-12 px-0 mt-2">
        <textarea class="textarea" rows="4" placeholder="REMARKS"></textarea>
       </div>
       <div class="text-center col-lg-12 mb-2"> 
        <span class="main_btn_log"><i class="fa fa-cloud-upload text-white pr-1" aria-hidden="true"></i>Upload</span>
    </div> -->

     <!-- -----------------------AFTER UPLOAD--------------------->
     <div class="col-12 px-0 mb-2 img-c">
      <div class="col-4 px-0 img">
        <img src="./assets/images/pro.png">
      </div>
      <div class="col-8 pt-1 pr-0 cet">
        <p class="mb-0"><b>no-objection Certificate_001.jpg</b></p>
        <span class="text-secondary">1000 kb</span>
      </div>
    </div>
    <div class="col-12 px-0 cet-2">
      <p class="font-italic"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</b></p>
    </div>
<!-- -----------------------AFTER UPLOAD--------------------->
    
<!-- </div> -->
      </div>

    </div>

    <div class="col-lg-6 mt-2 col-12 px-0 last">
      <div class="col-lg-6 cell-box col-6">
             <div class="col-12 hide-box">
     <div class="container px-0">
         <p class="p-h mt-1"><b>Sales Agreement</b></p>
         
           <ngx-file-drop dropZoneLabel="Drop files here">
               <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <p class="p-y">Drag or <span (click)="openFileSelector()" class="text-primary">Browse</span> file.</p>
               </ng-template>
           </ngx-file-drop>
   
     
     </div>
     <!-- <div id="progress1" class="progress-div"> -->
         <div class="col-12 mt-2 typ">
           <mat-form-field appearance="standard">
             <mat-label>DOCUMENT TYPE</mat-label>
             <mat-select>
               <mat-option value="option">Option</mat-option>
               <mat-option value="option">m1</mat-option>
             </mat-select>
           </mat-form-field>
            </div>
            <div class="col-12 px-0 mt-2">
             <textarea class="textarea" rows="4" placeholder="REMARKS"></textarea>
            </div>
            <div class="text-center col-lg-12 mb-2"> 
             <span class="main_btn_log"><i class="fa fa-cloud-upload text-white pr-1" aria-hidden="true"></i>Upload</span>
         </div>
   
          <!-- -----------------------AFTER UPLOAD--------------------->
               <!-- <div class="col-12 px-0 mb-2 img-c">
                 <div class="col-6 px-0">
                   <img src="./assets/images/pro.png">
                 </div>
                 <div class="col-6 pt-3 pl-0 cet">
                   <p class=""><b>Certificate_001.jpg</b></p>
                   <span class="text-secondary">1000 kb</span>
                 </div>
               </div>
               <div class="col-12 px-0 cet-2">
                 <p class="font-italic"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</b></p>
               </div> -->
   <!-- -----------------------AFTER UPLOAD--------------------->
         
     <!-- </div> -->
           </div>
          
         </div>
         
         <div class="col-lg-6 cell-box col-6">
           <div class="col-12 hide-box">
   <div class="container px-0">
       <p class="p-h mt-1"><b>Mutation Register Extract</b></p>
       
         <ngx-file-drop dropZoneLabel="Drop files here">
             <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <p class="p-y">Drag or <span (click)="openFileSelector()" class="text-primary">Browse</span> file.</p>
             </ng-template>
         </ngx-file-drop>
   
   
   </div>
   <!-- <div id="progress1" class="progress-div"> -->
       <div class="col-12 mt-2 typ">
         <mat-form-field appearance="standard">
           <mat-label>DOCUMENT TYPE</mat-label>
           <mat-select>
             <mat-option value="option">Option</mat-option>
             <mat-option value="option">m1</mat-option>
           </mat-select>
         </mat-form-field>
          </div>
          <div class="col-12 px-0 mt-2">
           <textarea class="textarea" rows="4" placeholder="REMARKS"></textarea>
          </div>
          <div class="text-center col-lg-12 mb-2"> 
           <span class="main_btn_log"><i class="fa fa-cloud-upload text-white pr-1" aria-hidden="true"></i>Upload</span>
       </div>
   
        <!-- -----------------------AFTER UPLOAD--------------------->
             <!-- <div class="col-12 px-0 mb-2 img-c">
               <div class="col-6 px-0">
                 <img src="./assets/images/pro.png">
               </div>
               <div class="col-6 pt-3 pl-0 cet">
                 <p class=""><b>Certificate_001.jpg</b></p>
                 <span class="text-secondary">1000 kb</span>
               </div>
             </div>
             <div class="col-12 px-0 cet-2">
               <p class="font-italic"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</b></p>
             </div> -->
   <!-- -----------------------AFTER UPLOAD--------------------->
       
   <!-- </div> -->
         </div>
        
       </div>
       </div>
       </div>









       <div class="col-lg-12 px-0 last-one">
        <div class="col-lg-6 mt-2 col-12 px-0 last">
       <div class="col-lg-6 cell-box col-6">
              <div class="col-12 hide-box">
      <div class="container px-0">
          <p class="p-h mt-1"><b>Power of Attorney</b></p>
          
            <ngx-file-drop dropZoneLabel="Drop files here">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
           <p class="p-y">Drag or <span (click)="openFileSelector()" class="text-primary">Browse</span> file.</p>
                </ng-template>
            </ngx-file-drop>
    
      
      </div>
      <!-- <div id="progress1" class="progress-div"> -->
          <div class="col-12 mt-2 typ">
            <mat-form-field appearance="standard">
              <mat-label>DOCUMENT TYPE</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
                <mat-option value="option">m1</mat-option>
              </mat-select>
            </mat-form-field>
             </div>
             <div class="col-12 px-0 mt-2">
              <textarea class="textarea" rows="4" placeholder="REMARKS"></textarea>
             </div>
             <div class="text-center col-lg-12 mb-2"> 
              <span class="main_btn_log"><i class="fa fa-cloud-upload text-white pr-1" aria-hidden="true"></i>Upload</span>
          </div>
    
           <!-- -----------------------AFTER UPLOAD--------------------->
                <!-- <div class="col-12 px-0 mb-2 img-c">
                  <div class="col-4 px-0 img">
                    <img src="./assets/images/pro.png">
                  </div>
                  <div class="col-8 pt-1 pr-0 cet">
                    <p class="mb-0"><b>no-objection Certificate_001.jpg</b></p>
                    <span class="text-secondary">1000 kb</span>
                  </div>
                </div>
                <div class="col-12    px-0 cet-2">
                  <p class="font-italic"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</b></p>
                </div> -->
    <!-- -----------------------AFTER UPLOAD--------------------->
          
      <!-- </div> -->
            </div>
           
          </div>
        </div>
           </div>
</div>
<div class=" col-lg-6 col-12 button mt-5">
  <div class="text-center col-lg-4 "> 
      <span class="main_btn_log">SUBMIT</span>
  </div>
  <div class="text-center col-lg-4">
    <span class="main_btn_log draft">Draft</span>
  </div>
</div>