<div class="col-lg-12 whole">

    <!-- ----------------BREADCRUM----------->
    <div class="col-lg-12 pl-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1 pl-0">
              <li class="breadcrumb-item home px-0"><a href="dashboard">Dashboard</a></li>
              <li class="breadcrumb-item px-0"><a href="setting">Settings</a></li>
            </ol>
        </nav>
    </div>
    <!-- ----------------BREADCRUM----------->

    <div class="col-lg-12 row px-0 first-line ">
        <div class="col-lg-7 mx-0 mt-2 list">
            <h5>Settings</h5>
        </div>
    </div>

    <!-- -------------------------------HEAD TITLE ENDS HERE------------------------------------- -->


    <!-- ------------------------------MAIN CONTAIN------------------------------------ -->

<div class="col-lg-12 mt-3 px-0">
    <div class="accordion" id="accordionExample">
        <div class="card shadow">
          <div class="card-header bg-white px-0" id="headingOne">
            <h2 class="mb-0">
                <div class="col-10 icon"><h5 class="card-h5"> 
                    <img src="./assets/images/icons/manage.png" class="pr-3">
                    <b>Manage Users</b></h5></div>
                <div class="col-2">
              <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-minus text-dark" aria-hidden="true"></i>
              </button>
            </div>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show mb-1" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="col-lg-12 px-0 add">
                <div class="col-lg-4 col-9 pl-0 q-se">
                  <form class="form-inline search mx-0">
                      <i class="fa fa-search pr-1" aria-hidden="true"></i>
                      <input type="search" placeholder="Search" aria-label="Search">
                  </form>
                </div>
                  <div class="col-lg-4 col-3 px-0 new">
                  <img src="./assets/images/icons/add.png" class="pr-2 img">
                  <label class="font-italic">New User</label>
                </div>
             </div>

             <!-- --------------------BOX------------------ -->

             <div class="col-lg-12 col-12 mt-2 px-0 User">
               <div class="col-lg-4 col-12 mt-2 main-box">
              <div class="col-12 inner-user pr-0">
                <div class="col-2 px-0 pt-2 dummy">
                  <img src="./assets/images/dummy.png">
                </div>
                <div class="col-10 pr-0">
                  <div class="col-12 pr-0">
                    <div class="col-2 pen text-danger px-0 float-right">
                    <i class="fa fa-pencil" aria-hidden="true"></i> | <i class="fa fa-trash" aria-hidden="true"></i>
                  </div>
                  </div>
                  <label class="mb-0 mt-2"><b>Tarun Pathak</b></label>
                  <label class="text-secondary mb-0 font-italic">Sales Manager</label>
                  <label><span style="color: rgb(64, 151, 254)" class=" font-italic">tyanrdh@hibd.com</span> | <span>+91 9874845123</span></label>
                </div>
              </div>
              </div>
               <div class="col-lg-4 col-12 mt-2 main-box">
                <div class="col-12 inner-user pr-0">
                  <div class="col-2 px-0 pt-2 dummy">
                    <img src="./assets/images/dummy.png">
                  </div>
                  <div class="col-10 pr-0">
                    <div class="col-12 pr-0">
                      <div class="col-2 pen text-danger px-0 float-right">
                      <i class="fa fa-pencil" aria-hidden="true"></i> | <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                    </div>
                    <label class="mb-0 mt-2"><b>Ryan Rodrigues</b></label>
                    <label class="text-secondary mb-0 font-italic">Account Manager</label>
                    <label><span style="color: rgb(64, 151, 254)" class=" font-italic">ryanr@hibd.com</span> | <span>+91 9874511141</span></label>
                  </div>
                </div>
              </div>
               <div class="col-lg-4 col-12 mt-2 main-box">
                <div class="col-12 inner-user pr-0">
                  <div class="col-2 px-0 pt-2 dummy">
                    <img src="./assets/images/dummy.png">
                  </div>
                  <div class="col-10 pr-0">
                    <div class="col-12 pr-0">
                      <div class="col-2 pen text-danger px-0 float-right">
                      <i class="fa fa-pencil" aria-hidden="true"></i> | <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                    </div>
                    <label class="mb-0 mt-2"><b>Ashmita Pawar</b></label>
                    <label class="text-secondary mb-0 font-italic">Director</label>
                    <label><span style="color: rgb(64, 151, 254)" class=" font-italic">tarun@hibd.com</span> | <span>+91 8475485690</span></label>
                  </div>
                </div>
              </div>
             </div>

             <div class="col-lg-12 col-12 mt-2 px-0 User">
              <div class="col-lg-4 col-12 mt-2 main-box">
             <div class="col-12 inner-user pr-0">
               <div class="col-2 px-0 pt-2 dummy">
                 <img src="./assets/images/dummy.png">
               </div>
               <div class="col-10 pr-0">
                 <div class="col-12 pr-0">
                   <div class="col-2 pen text-danger px-0 float-right">
                   <i class="fa fa-pencil" aria-hidden="true"></i> | <i class="fa fa-trash" aria-hidden="true"></i>
                 </div>
                 </div>
                 <label class="mb-0 mt-2"><b>Tarun Pathak</b></label>
                 <label class="text-secondary mb-0 font-italic">Sales Manager</label>
                 <label><span style="color: rgb(64, 151, 254)" class=" font-italic">tarun@hibd.com</span> | <span>+91 9874845123</span></label>
               </div>
             </div>
             </div>
            </div>

            <!-- ___________________________________________________________________ -->
            
            </div>
          </div>
        </div>
        <div class="card shadow mt-4">
          <div class="card-header bg-white px-0" id="headingTwo">
            <h2 class="mb-0">
                <div class="col-10 icon"><h5 class="card-h5">
                    <img src="./assets/images/icons/lock.png" class="pr-3">
                    <b>Grand Permission</b></h5></div>
                <div class="col-2">
              <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fa fa-plus text-dark" aria-hidden="true"></i>
              </button>
            </div>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <p class="fs-12"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
          </div>
        </div>
        <div class="card shadow mt-4">
          <div class="card-header bg-white px-0" id="headingThree">
            <h2 class="mb-0">
                <div class="col-10 icon"><h5 class="card-h5">
                    <img src="./assets/images/icons/admin.png" class="pr-3">
                    <b>Admin</b></h5></div>
                <div class="col-2">
              <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <i class="fa fa-plus text-dark" aria-hidden="true"></i>
              </button>
            </div>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p class="fs-12"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>

            </div>
          </div>
        </div>
      </div>
</div>

</div>