<div class="col-lg-12 col-12 padlr pb-4">
    
    <div class="col-lg-12 col-12 row px-0 m-0">
        <div class="col-lg-3 col-12 mt-4" *ngFor="let query of query_list">
            <div style="border: 1px solid lightgray;" class="card p-2 brnew">
                <!-- <p class="fs-12 mb-0"><span style="color: gray;">Raised by:</span><span
                        class="font-weight-bold pl-1">{{builder_names[query.CREATED_BY] | titlecase}}</span> </p> -->
                <div class="col-lg-4 col-4 px-0 mt-2">
                    <p style="background-color: rgb(246,179,21);" class="fs-12 border-0 text-center wcolor mb-0 rounded">General
                    </p>
                </div>
                <p class="fs-10 pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi deserunt distinctio
                    consectetur est ullam, placeat explicabo magnam dolor nesciunt id quo odit laborum, vero quae culpa
                    asperiores ea laudantium beatae.</p>
                 <span class="fs-12" style="color: gray;"> <img style="width: 18px;" class="pr-2" src="./assets/images/clock_1.png" alt="">1 day
                    ago</span>
                <p class="fs-10 pt-2">You responded on 16 sep'19</p>
                <div class="col-lg-12 col-12 text-center pb-2" data-toggle="modal" data-target="#example">
                    <button type="button" class="btn btn1 active">
                        <span><img style="width: 20px;" class="pr-1" src="./assets/images/icons/respondicon.png" alt="">
                            Respond</span></button>
                </div>
                <!-- <div class="col-lg-12 col-12 text-center pb-2" data-toggle="modal" data-target="#example">
                    <button type="button" class="btn btn1">
                        <span><img style="width: 20px;" class="pr-1" src="./assets/images/respond.png" alt="">
                            Respond</span></button>
                </div> -->
            </div>
        </div>
    </div>



    