<!-- <p>list-of-documents works!</p> -->
<div class="col-lg-12 col-12 px-0" id="submit">

  <mat-tab-group mat-align-tabs="end">
    <div class="col-lg-12 col-12 active">
      <mat-tab label="All ">
        <div class="col-lg-12 pb-4 alternative">
          <h6 class="pt-2"><span style="background-color: #e3310d !important;"
              class="badge badge-danger pr-1 mar-14">1.</span> Property Documents</h6>
          <div class="col-lg-12 px-0 last-one">
            <div class="col-lg-4 mt-2 col-12 px-0">
              <form [formGroup]="upload_form" (ngSubmit)="sendResponse(upload_form.value)">
                <div class="col-lg-12  col-12 px-zero">
                  <div class="col-12 drag-box shadow">
                    <div class="container px-0 text-center">
                      <p class="p-h mb-0 mt-1 pt-3"><b>UPLOAD FILES</b></p>
                      <p class="fs-12">upload documents you want to share</p>

                      <mat-form-field appearance="standard">
                        <mat-label>REMARK</mat-label>
                        <textarea matInput formControlName="message" type="text" rows="3"></textarea>
                      </mat-form-field>

                      <mat-form-field appearance="standard">
                        <mat-label>DOCUMENT TYPE</mat-label>
                        <mat-select formControlName="doc_type">
                          <mat-option *ngFor="let doc of document_list" [value]="doc.DOC_CODE">{{doc.DOC_DEC}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>

                    <div class="col-12 mt-2 typ px-0 pb-3" id="add-project">
                      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                        *ngIf="!file_uploaded">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                          <img src="./assets/images/upload icon.png" height="60px">
                          <p class="p-y">Drag and drop your files here</p>
                          <p>OR</p>
                          <span (click)="openFileSelector()" class="text-primary Browse">Browse files</span>
                        </ng-template>
                      </ngx-file-drop>

                      <div class="col-lg-12 px-0 flex" [ngClass]="file_color" *ngIf="file_uploaded">
                        <div class="col-lg-2 col-2 pt-2 pr-0">
                          <img [src]="file_icon" alt="" width="35px">
                        </div>
                        <div class="col-lg-8 col-8 doc pr-0 pt-3 text-left">
                          <p class="para-dou mb-0"><b>{{ file_name }}</b></p><label>Upload size - <span>{{ file_size }}
                              mb</span></label>
                        </div>
                        <div class="col-lg-2 col-2 pt-3 text-right" (click)="removeFile()">
                          <img src="./assets/images/bar-x.png" alt="" width="15px">
                        </div>
                      </div>

                      <div class="text-center col-lg-8 col-8 mt-3 btn-upload">
                        <input type="submit" class="main_btn_log" value="Upload">
                      </div>

                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- --------------------------------------------uploaded-------------------------- -->

            <div class="col-lg-8 mt-2 px-0">
              <div class="col-lg-12  px-0 col-12">
                <div class="col-lg-12 col-12 px-0 pb-3 hide-box shadow">
                  <div class="col-lg-12 px-0 row mt-3">
                    <div class="col-lg-6 m-top padd" *ngFor="let doc_up of uploaded_doc">
                      <div class="col-lg-12 px-0 flex" [ngClass]="doc_up.file_color">
                        <div class="col-lg-2 col-2 pt-2 pr-0">
                          <img [src]="doc_up.file_img" alt="" width="35px">
                        </div>
                        <div class="col-lg-8 col-8 doc pr-0 pt-2 text-left">
                          <p class="para-dou mb-0"><b>{{ doc_up.file_name }}</b></p><label>Upload size -
                            <span>{{ doc_up.file_size }}
                              mb</span></label>
                        </div>
                        <!-- <div class="col-lg-2 col-2 pt-2 text-right">
                        <img src="./assets/images/bar-x.png" alt="" width="15px">
                      </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </mat-tab>



      <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 2 TAB UPLOAD >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->


      <mat-tab label="Uploaded">
        <div class="col-lg-12 mt-2 py-3">
          <div class="col-lg-12  px-0 col-12">
            <div class="col-lg-12 col-12 px-0 pb-3 hide-box shadow">
              <div class="col-lg-12 px-0 row mt-3">
                <div class="col-lg-4 m-top padd" *ngFor="let doc_up of uploaded_doc">
                  <div class="col-lg-12 px-0 flex" [ngClass]="doc_up.file_color">
                    <div class="col-lg-2 col-2 pt-2 pr-0">
                      <img [src]="doc_up.file_img" alt="" width="35px">
                    </div>
                    <div class="col-lg-8 col-8 doc pr-0 pt-2 text-left">
                      <p class="para-dou mb-0"><b>{{ doc_up.file_name }}</b></p><label>Upload size -
                        <span>{{ doc_up.file_size }}
                          mb</span></label>
                    </div>
                    <!-- <div class="col-lg-2 col-2 pt-2 text-right">
                    <img src="./assets/images/bar-x.png" alt="" width="15px">
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>



      <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<< 3 TAB PENDING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


      <mat-tab label="Pending">
        <div class="col-lg-12 mt-2 py-3">
          <div class="col-lg-12  px-0 col-12">
            <div class="col-lg-12 col-12 px-0 pb-3 hide-box shadow">
              <div class="col-lg-12 px-0 row mt-3">
                <div class="col-lg-4 m-top padd">
                  <div class="col-lg-12 px-0 flex red-box">
                    <div class="col-lg-2 col-2 pt-2 pr-0">
                      <img src="./assets/images/pdf.png" alt="" width="35px">
                    </div>
                    <div class="col-lg-8 col-8 doc pr-0 pt-2 text-left">
                      <p class="para-dou mb-0"><b>Property_Document-1</b></p><label>Upload size - <span>3.5
                          mb</span></label>
                    </div>
                    <div class="col-lg-2 col-2 pt-2 text-right">
                      <img src="./assets/images/bar-x.png" alt="" width="15px">
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 m-top padd">
                  <div class="col-lg-12 px-0 flex blue-box">
                    <div class="col-lg-2 col-2 pt-2 pr-0">
                      <img src="./assets/images/word icon.png" alt="" width="35px">
                    </div>
                    <div class="col-lg-8 col-8 doc pr-0 pt-2 text-left">
                      <p class="para-dou mb-0"><b>Property_Document-1</b></p><label>Upload size - <span>3.5
                          mb</span></label>
                    </div>
                    <div class="col-lg-2 col-2 pt-2 text-right">
                      <img src="./assets/images/bar-x.png" alt="" width="15px">
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 m-top padd">
                  <div class="col-lg-12 px-0 flex green-box">
                    <div class="col-lg-2 col-2 pt-2 pr-0">
                      <img src="./assets/images/excel icon.png" alt="" width="35px">
                    </div>
                    <div class="col-lg-8 col-8 doc pr-0 pt-2 text-left">
                      <p class="para-dou mb-0"><b>Property_Document-1</b></p><label>Upload size - <span>3.5
                          mb</span></label>
                    </div>
                    <div class="col-lg-2 col-2 pt-2 text-right">
                      <img src="./assets/images/bar-x.png" alt="" width="15px">
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>