
.newbtn{
    background-color: rgb(64,151,254);height: 70%;border-radius: 25px;color: white;
}
.overviewimage img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.mt-10{
    margin-top: -10px !important;
}
.fs-21{
    font-size: 21px !important;
}
/* .nav-pills .nav-link {color: white;}
.nav-pills{background-color: black}
.nav-pills .nav-link.active {
    color: white !important;
    border-bottom: 2px solid red;
    font-size: 12px ;
    border-radius: 0%;
    background-color: black !important;

}
.active-size{font-size: 12px;} */


@media screen and (min-width:576px) and (max-width: 2000px){
    .disflex{
        display: inline-flex !important;
    }
    

}