<!-- <p>project-overview works!</p> -->
<div class="col-lg-12 col-12 pl-0 m-0">
    <div class="col-lg-12 col-12 pl-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1 pl-0">
                <li class="breadcrumb-item home px-0"><a href="#">Home</a></li>
                <li class="breadcrumb-item px-0"><a href="#">Projects</a></li>
                <li class="breadcrumb-item px-0"><a href="#">Manage</a></li>
                <li class="breadcrumb-item px-0"><a href="#">Projects Progress</a></li>
            </ol>
        </nav>
    </div>

    <div class="col-lg-12 col-12 list px-0 mt-3">
        <h5>Project Overview</h5>
    </div>

    <div class="col-lg-12 col-12 px-0">
        <div class="col-lg-6 col-12">
           <div class="col-lg-12 col-12 row">
               <div class="col-lg-3 col-3 pr-0 ">
                   <div class="overviewimage">
                       <img src="./assets/images/china.jpg" alt="" width="100%">
                   </div>
               </div>
               <div class="col-lg-9 col-9 pl-0">
                    <p class="m-0">Raj Grandeur</p>
                    <p class="m-0">Andheri Kurla</p>
                    <span>Residential</span>
               </div>
           </div>
        </div>
    </div>
</div>
