.progress{background-color: rgb(234,249,255);}
.newbtn{
    background-color: rgb(64,151,254);height: 70%;border-radius: 25px;color: white;
}
.overviewimage img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.myicon{
    /* color: white !important;
    background-color: red;
    border-radius: 100%;
    padding: 7px 8px; */
    width: 30px;
    height: 30px;
}


.mt-10{
    margin-top: -10px !important;
}
.fs-21{
    font-size: 21px !important;
}
.badge {
    border-radius: 2.25em!important;
    font-size: 108%!important;
    padding: 0.28em .6em!important;
    border: 1px solid transparent !important;
    background-color: lightblue !important;
  }
  .w-20{
    width: 20px !important;
}
.btn1{
    padding: 0.375rem 0.75rem !important;
    border-radius: 50px !important;
    font-size: 13px !important;
    color: white !important;
    background-color: #e3310d !important;
    box-shadow: 1px 3px 8px #ed1c2452 !important;

}
.btn2{
    padding: 0.375rem 2rem !important;
    border-radius: 50px !important;
    font-size: 13px !important;
    color: white !important;
    background-color: #e3310d !important;
    box-shadow: 1px 3px 8px #ed1c2452 !important;

}
.btn3{
    padding: 0.375rem 2rem !important;
    /* border-radius: 50px !important; */
    font-size: 13px !important;
    color: white !important;
    background-color: #e3310d !important;
    box-shadow: 1px 3px 8px #ed1c2452 !important;

}

.myimg{
    width: 25px !important;
    margin-top: 4px !important;
    /* background-color: red; */
    /* margin-left: 6px; */
    /* width: 100%; */
}
#forresopnd .mat-form-field{
    font-size: 13px !important;
}


/* .nav-pills .nav-link {color: white;}
.nav-pills{background-color: black}
.nav-pills .nav-link.active {
    color: white !important;
    border-bottom: 2px solid red;
    font-size: 12px ;
    border-radius: 0%;
    background-color: black !important;

}
.active-size{font-size: 12px;} */

.chos {position: absolute;top: 0;right: -3px;opacity: 0;width: 20%;}
.up {    opacity: 0;
    position: absolute;
    width: 25px;
    z-index: 5;
    top: 5px;}

@media screen and (min-width:576px) and (max-width: 2000px){
    .disflex{
        display: inline-flex !important;
    }
    .padl{
        padding-left: 0px !important;
    }
    .mt-13{
        margin-top: 9px !important;
    }
    .newimg{
        width: 25px;
    margin-top: 4px !important;
    cursor: pointer;

        /* position: absolute;top: 9px;right:42px */
    }
    .up {    opacity: 0;
        position: absolute;
        width: 30px;
        z-index: 5;
        top: 5px;}
}

@media(min-width: 300px) and (max-width: 350px){
.left-pad {padding-left: 12px !important;}
}

@media(min-width: 300px) and (max-width: 576px)
{
    .btn3{
        padding: 0.375rem 1rem !important;
    }
    .newclass{
        /* width: 60% !important; */
        padding-left: 7px !important;
    }
    .mt-13{
        margin-top: 18px !important;
    
    }
    .newimg{
        width: 25px;
    margin-top: 4px !important;

        /* position: absolute;top: 16px;right:25px */
    }
    
    
}

.para-dou {font-size: 13px;}
.label-size {font-size: 12px !important;}
.upload {display: inline-flex;background-color: rgb(250,250,250);line-height: 1;}
.doc {padding-top: 10px;}
