<!-- <p>project-overview works!</p> -->

<div class="col-lg-12 col-12 m-0 padl">
  <div class="col-lg-12 col-12 pl-0 pr-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-1 pl-0">
        <li class="breadcrumb-item home px-0"><a href="dashboard">Dashboard</a></li>
        <li class="breadcrumb-item px-0"><a href="all-projects">All Projects</a></li>
        <li class="breadcrumb-item px-0"><a href="project-overview">Project Overview</a></li>
      </ol>
    </nav>
  </div>

  <div class="col-lg-12 col-12 list px-0 mt-3">
    <h5>Project Overview</h5>
  </div>

  <div class="col-lg-12 col-12 px-0 shadow bg-white brnew disflex">

    <div class="col-lg-6 col-12 px-0 mt-4">
      <div class="col-lg-12 col-12 d-inline-flex px-0">
        <div class="col-lg-2 col-3">
          <div class="overviewimage mt-10">
            <img src="./assets/images/china.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-10 col-9 pl-0 left-pad">
          <h6 class="m-0 fs-13 font-weight-bold pt-2">{{ project_detail.PROJECT_NAME | titlecase }}<span
              class="text-center fs-12 newbtn pl-3 pr-3  font-weight-normal ml-4">{{ project_detail.PROP_CLASS | titlecase}}</span>
          </h6>
          <i style="color: #e3310d  !important;" class="fa fa-map-marker" aria-hidden="true"></i><span
            class="m-0 fs-12 pl-1 font-italic">{{ project_detail.LOCATIONS | titlecase }}</span>

        </div>
      </div>

      <div class="col-lg-12 col-12 pt-2">
        <p class="fs-12">{{ project_detail.PROJ_DESC }} </p>
      </div>

    </div>

    <div class="col-lg-6 col-12 pl-0 mt-4 pr-0">
      <div class="col-lg-12 col-12 d-inline-flex pl-0 pr-0">
        <div class="col-lg-5 col-5">
          <p class="fs-12 m-0 cgray">Total Loan</p>
          <h4 class="font-weight-bold fs-21">{{ project_detail.TOT_LOAN }} </h4>
          <p class="fs-12 m-0 cgray">Total Disbursed</p>
          <div style="height: 25px;" class="progress mt-1">
            <div class="progress-bar newclass" role="progressbar" id="disb-progress"
              style=" color: black; background-color: rgb(194,237,253);" aria-valuenow="{{ disb_percent }}"
              aria-valuemin="0" aria-valuemax="100">{{ disb_percent }}%</div>
          </div>
        </div>
        <div class="col-lg-7 col-7 pl-0 pr-0">
          <div class="col-lg-12 col-12 d-inline-flex px-0">
            <div class="col-lg-6 col-8 px-0">
              <h5 class="font-weight-bold">{{ project_detail.TOTAL_LEAD }} <span class="fs-10">Leads Submitted</span>
              </h5>
            </div>
            <div class="col-lg-6 col px-0">
              <h5 class="font-weight-bold">{{ leads_no }} <span class="fs-10">Clients</span></h5>
            </div>
          </div>
          <p class="fs-12 cgray m-0">Project Progress</p>
          <div *ngFor="let bldg of building_list" class="col-lg-12 col-12 d-inline-flex px-0">
            <div class="col-lg-2 col-3 px-0">
              <p class="fs-12 m-0">{{bldg.BLDG_NAME}}</p>

            </div>
            <div class="col-lg-8 col-7 px-0">
              <div style="height: 7px;width:80%" class="progress mt-1">
                <div class="progress-bar" role="progressbar"
                  style="width: 60%; color: black; background-color: rgb(250,194,62);" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>

            </div>
            <div class="col-lg-2 col-2 pl-0">
              <p class="fs-12 m-0" *ngIf="bldg.PROGRESS!=' ';else other_content">{{bldg.PROGRESS}}%</p>
              <ng-template #other_content>
                <p class="fs-12 m-0" >0%</p>
              </ng-template>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="col-lg-12 col-12 px-0 mt-4" id="matnewtabs">
    <mat-tab-group>
      <mat-tab label="Project Progress">
        <app-project-progress [project_id]="project_id"></app-project-progress>
      </mat-tab>
      <mat-tab label="List Of Documents">
        <app-list-of-documents [project_id]="project_id"></app-list-of-documents>
      </mat-tab>
      <mat-tab label="Queries">

        <app-queries [project_id]="project_id" (query)="queryData($event)"></app-queries>
      </mat-tab>

      <mat-tab label="Leads/Clients">
        <app-leads></app-leads>
      </mat-tab>
      <mat-tab label="Disbursement Records">
        <app-disbursement-records [project_id]="project_id"></app-disbursement-records>
      </mat-tab>
      <!-- <mat-tab label="Project Assistance">
        <app-project-assistance [project_id]="project_id"></app-project-assistance>
      </mat-tab> -->
    </mat-tab-group>
  </div>


</div>


<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="top: 145px;" class="modal-content shadow bg-white brnew p-2">
      <div class="col-lg-12 col-12 mt-2 padr" id="forresopnd">
        <div class="col-lg-12 col-12">
          <div class="w-20 close" data-dismiss="modal" aria-label="Close">

            <img src="./assets/images/cross.png" alt="" width="100%">
          </div>
        </div>
        <div class="p-2 mt-1">
          <p class="fs-12 mb-0"><span style="color: gray;">Raised by:</span><span
              class="font-weight-bold pl-1">{{ query.CREATED_NAME | titlecase }}</span> </p>
          <div class="col-lg-2 col-3 px-0 mt-2">
            <p style="background-color: rgb(246,179,21);" class="fs-12 border-0 text-center wcolor mb-0 rounded">General
            </p>
          </div>
          <div *ngFor="let q of query_data">
            <p class="fs-10 font-weight-bold pt-3 mb-0" *ngIf="q.QUERY_TYPE != 'Builder'">
              {{ q.QUERY }}</p>
            <!-- <i style="color: gray;" class="fa fa-clock-o fs-12 pt-2" aria-hidden="true"><span class="pl-2">1
                    week
                    ago</span></i> -->
            <!-- <p class="fs-10 pt-2 font-weight-bold mb-0">You responded on 16 sep'19</p> -->

            <p class="fs-10 pt-3 mb-0" *ngIf="q.QUERY_TYPE == 'Builder'">{{ q.QUERY }}</p>

            <p class="fs-10 pt-2 font-weight-bold mb-0">{{ q.CREATED_ON }}</p>

          </div>

          <div class="col-lg-12 col-12 px-0 mt-3 pb-2 upload" *ngIf="file_name">
            <div class="col-lg-2 col-2 pt-2">
                <img [src]="file_icon" alt="" width="35px">
            </div>
            <div class="col-lg-8 col-8 doc">
                <p class="para-dou mb-0"><b>{{ file_name }}</b></p><label>Upload size - <span>{{ file_size }}
                        mb</span></label>
            </div>
            <div class="col-lg-2 col-2 pt-3 text-right" (click)="removeFile()">
                <img src="./assets/images/bar-x.png" alt="" width="15px">
            </div>
        </div>

          <div class="col-lg-12 col-12 row m-0  pr-0 pl-2 mt-2" style="background-color: rgb(250,250,250);">

            <div class="col-lg-10 col-10 px-0 alternative">

              <mat-form-field class="example-full-width">
                <!-- <mat-label>Write your comment here...</mat-label> -->
                <input matInput placeholder="Write your comment here..." [(ngModel)]="message">
              </mat-form-field>


            </div>

            <div class="col-lg-1 col-1 px-0">
              <div class="newimg mx-auto d-block">
                <input class="float-right up" type="file" (change)="uploadFileEvent($event)">
                <img src="./assets/images/attach.png" alt="" width="100%">
              </div>
            </div>

            <div style="background-color: red;" class="col-lg-1 col-1 px-0">
              <div class="myimg mx-auto d-block" (click)="sendResponse()">
                <!-- <button style="width: 100%;" class="btn btn3 mt-13">Send</button> -->
                <img src="./assets/images/sendicon.png" alt="" width="100%">
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>