<div class="col-lg-12 project">
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>BUILDER NAME<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
            <mat-label>HDFC BRANCH<span class="text-danger">*</span></mat-label>
            <mat-select>
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">m1</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>ACCOUNT NUMBER<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
          <mat-form-field appearance="standard">
            <mat-label>BANK ACCOUNT TYPE<span class="text-danger">*</span></mat-label>
            <mat-select>
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">m1</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

</div>
<div class="col-lg-12 mt-2 project">
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>IFSC<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>MOBILE NUMBER<span class="text-danger">*</span></mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
            <mat-label>EMAIL ID</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
</div> 
<div class="col-lg-12 mt-2 project">
<div class="col-lg-6">
    <mat-form-field appearance="standard" class="six">
        <mat-label>REMARK</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div>
</div>
<div class=" col-lg-6 col-12 button mt-4">
<div class="text-center col-lg-4 "> 
<span class="main_btn_log">Next</span>
</div>
<div class="text-center col-lg-4"> 
<span class="main_btn_log draft">Draft</span>
</div>
</div>