<div class="col-lg-12 whole">

    <!-- ----------------BREADCRUM----------->
    <div class="col-lg-12 pl-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1 pl-0">
                <li class="breadcrumb-item home px-0"><a href="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item px-0"><a href="update-work">Update Work Progress</a></li>
            </ol>
        </nav>
    </div>
    <!-- ----------------BREADCRUM----------->

    <div class="col-lg-12 col-12 px-0 first-line">
        <div class="col-lg-7 mx-0 mt-2 list pl-0">
            <h5>Update Work Progress</h5>
            <span class="badge badge-primary ml-2 mt-1">22</span>
        </div>
    </div>
    <!-- --------------------------------------------------new -->
    <div class="col-lg-12 flex  fq px-0">
        <div class="col-lg-8 px-0 alternative" style="display: inline-flex;">
            <div class="col-lg-4 col-12 px-0">
                <mat-form-field appearance="standard">
                    <mat-label>Select Project </mat-label>
                    <mat-select (selectionChange)="projectChange($event)">
                        <mat-option *ngFor="let project of project_list" [value]="project.PROJECTID">
                            {{project.PROJECT_NAME}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-4 col-12 px-0 pt-3 search">
            <form class="form-inline pb-1 mx-0">
                <i class="fa fa-search pr-1" aria-hidden="true"></i>
                <input type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>

    <!-- -------------------------------HEAD TITLE ENDS HERE------------------------------------- -->

    <!-- --------------------------------------------------------------------- -->

    <div class="col-lg-12 col-12 pl-0 pr-1 m-0 mt-4 main-list alternative" id="update"
        *ngFor="let data of building_list">
        <form class=" col-lg-12 flex m-0 px-0" [formGroup]="dynamic_forms[data.PROJ_BLDG_NO]"
            (ngSubmit)="updateBuildingData(dynamic_forms[data.PROJ_BLDG_NO].value)">
            <!-- <div class="col-lg-12 roe m-0 px-0"> -->

            <!-- for mobile view only -->
            <div class="col-12  m-0 px-0 hideweb side">


                <div class="col-1 pr-0 pl-1"><img src="./assets/images/icons/building2.png" height="22px"></div>
                <div class="col-9 pr-0 fs-13 raj1 pl-1"><b>{{project_selected_detail[0].PROJECT_NAME}}</b></div>
                
                <div class="col-lg-1 col-2" data-toggle="modal" data-target="#example">
                    <img class="w-01 top" src="./assets/images/icons/upload icon.png" width="100%">
                </div>


            </div>
            <!-- for mobile view only -->

            <div class="col-lg-9 col-9 px-0">
                <div class="col-lg-12 col-12 px-0 row m-0">

                    <div class="col-lg-2 top hidemobile pl-2 pr-0">
                        <img src="./assets/images/icons/building2.png" height="22px">
                        <span class="pl-1 pt-1"><b>{{project_selected_detail[0].PROJECT_NAME | titlecase}}</b></span>
                    </div>

                    <div class="col-lg-2 pr-0 prnew raj pl-2">
                        <span class="top fs-13"><b>{{data.BLDG_NAME | titlecase}}</b></span>
                    </div>
                    <div class="col-lg-2 px-2 padtop-5 pad-x">
                        <mat-form-field class="example-full-width">
                            <mat-label>Update Current Progress</mat-label>
                            <input matInput type="text" placeholder="" formControlName="update_current_progress">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2 px-2 padtop-5 pad-x">
                        <mat-form-field class="example-full-width">
                            <mat-label>Percent Payment Due</mat-label>
                            <input matInput type="text" placeholder="" formControlName="percent_payment_due">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2 px-2 padtop-5 pad-x">

                        <mat-form-field class="example-full-width">
                            <mat-label>Progress As On Date</mat-label>
                            <input matInput type="text" placeholder="" formControlName="progress_date">
                        </mat-form-field>

                    </div>
                    <div class="col-lg-2 padlr padtop-4 pad-x mob-pl">
                        <mat-form-field>
                            <mat-label>Upload Document Type</mat-label>
                            <mat-select formControlName="doc_type">
                                <mat-option *ngFor="let doc_type of upload_doc_type" value="{{ doc_type.CD_VAL }}">
                                    {{doc_type.CD_DESC}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 px-0">
                <div class="col-lg-12 col-12 flex m-0 pr-0 pl-2 pad-l side mob-px">
                    <div class="col-lg-1 col-2 px-0 hidemobile" data-toggle="modal" data-target="#example">
                        <img class="w-01 top" src="./assets/images/icons/upload icon.png" width="100%">
                    </div>
                    <!-- <div class="col-lg-2 col-2 px-0">
                    <img class="w-01 ml-1 top" src="./assets/images/icons/view icon.png" width="100%"
                        style="position: relative !important;">
                    <span class="badge newbadge newbadge1 badge-danger">12</span>
                </div> -->

                    <!-- for desktop view only -->
                    <div class="col-lg-4 col-6 top pr-0  pl-2 pad-x mobtn-pl">
                        <button class="fs-13 btn web_btn auto-btn" type="submit">Submit</button>
                    </div>
                    <div class="col-lg-7 col-6 top px-0  pad-x">
                        <button class="fs-13 btn web_btn auto-btn" type="button" [routerLink]="['/raise-demand',project_selected,data.PROJ_BLDG_NO]">Raise Demand Letter</button>
                    </div>
                    <!-- for desktop view only -->

                </div>
            </div>
            <!-- </div> -->
        </form>
    </div>







</div>



<!-- Modal -->
<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-lg-12 col-12 bg-white shadow brnew p-3 alternative">
            <div style="border-bottom:1px solid lightgray;" class="col-lg-12 col-12 row m-0 px-0">
                <div class="col-lg-10 col-10 px-0">
                    <h5 class="modal-title">Upload Document</h5>
                </div>
                <div class="col-lg-2 col-2 px-0">

                    <div class="w-20 close" data-dismiss="modal" aria-label="Close">
                        <img src="./assets/images/cross.png" alt="" width="100%">
                    </div>

                </div>
            </div>
            <!-- <hr> -->
            <div class="col-lg-12 col-12 row m-0 px-0">
                <div class="col-lg-6 col-6 pl-0 pt-2">
                        <p class="top fs-13"><b>PROJECT NAME: Moti Nagar (44436)</b></p>
                </div>
                <div class="col-lg-6 col-6 pr-0 pt-2">
                    <p class="top fs-13"><b>BUILDING NAME: Moti Nagar Type 1 Wing 1</b></p>
                </div>
            </div>
            <div class="col-lg-12 col-12 px-0">
                <mat-form-field class="example-full-width">
                    <mat-label>Remark</mat-label>
                    <input matInput type="text" placeholder="">
                </mat-form-field>
            </div>
            <div class="col-lg-12 alternative px-0" id="upload">
                <mat-form-field appearance="standard">
                    <mat-label>CHOOSE FILES</mat-label>
                    <input matInput>
                    <input class="float-right up" type="file">
                    <span class="btn-upload text-center">Upload Files</span>
        
                </mat-form-field>
            </div>
            <div class="col-lg-12 col12 px-0mt-4 text-center">
                <div class="col-lg-5 col-6 sub-btn">
                <input type="submit" value="SUBMIT" class="btn modal_btn">
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->