<div class="col-lg-12 whole">

    <!-- ----------------BREADCRUM----------->
    <div class="col-lg-12 pl-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1 pl-0">
                <li class="breadcrumb-item home px-0"><a href="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item px-0"><a href="update-work">Update Work Progress</a></li>
            </ol>
        </nav>
    </div>
    <!-- ----------------BREADCRUM----------->

    <div class="col-lg-12 col-12 px-0 first-line">
        <div class="col-lg-7 mx-0 mt-2 list pl-0">
            <h5>Update Work Progress</h5>
            <span class="badge badge-primary ml-2 mt-1">22</span>
        </div>
    </div>
    <!-- --------------------------------------------------new -->
    <div class="col-lg-12 flex  fq padlr">
        <div class="col-lg-8 px-0 alternative" style="display: inline-flex;">
            <div class="col-lg-4 col-12 px-0">
                <mat-form-field appearance="standard">
                    <mat-label>Select Project </mat-label>
                    <mat-select (selectionChange)="projectChange($event)">
                        <mat-option *ngFor="let project of project_list" [value]="project.PROJECTID">
                            {{project.PROJECT_NAME}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-4 col-12 px-0 pt-3 search">
            <form class="form-inline pb-1 mx-0">
                <i class="fa fa-search pr-1" aria-hidden="true"></i>
                <input type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>

    <!-- -------------------------------HEAD TITLE ENDS HERE------------------------------------- -->

    <!-- --------------------------------------------------------------------- -->

    <div class="col-lg-12 col-12 row px-0 m-0 mt-4 main-list alternative" id="update"
        *ngFor="let data of building_list">
        <form [formGroup]="dynamic_forms[data.PROJ_BLDG_NO]" (ngSubmit)="updateBuildingData(dynamic_forms[data.PROJ_BLDG_NO].value)">
            <!-- for mobile view only -->
            <div class="col-12 row m-0 px-0 hideweb">


                <div class="col-2 pr-0"><img src="./assets/images/icons/building2.png" height="22px"></div>
                <div class="col-3 px-0 fs-13 raj1"><b>{{project_selected_detail[0].PROJECT_NAME | truncate:6}}</b></div>
                <div class="col-2 px-0">
                    <button class="fs-13 btn btn_mobile" type="submit">Submit</button>
                </div>
                <div class="col-5 px-0">
                    <button class="fs-13 btn btn_mobile" type="button">Raise Demand Letter</button>
                </div>


            </div>
            <!-- for mobile view only -->

            <div class="col-lg-8 col-8 px-0">
                <div class="col-lg-12 col-12 px-0 row m-0">

                    <div class="col-lg-2 top hidemobile">
                        <img src="./assets/images/icons/building2.png" height="22px">
                        <span class="pl-1 pt-1"><b>{{project_selected_detail[0].PROJECT_NAME }}</b></span>
                    </div>

                    <div class="col-lg-2 padlr prnew raj">
                        <p class="top fs-13"><b>{{data.BLDG_NAME }}</b></p>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field class="example-full-width">
                            <mat-label>Update Current Progress</mat-label>
                            <input matInput type="text"  placeholder="" formControlName="update_current_progress">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field class="example-full-width">
                            <mat-label>Percent Payment Due</mat-label>
                            <input matInput type="text" placeholder="" formControlName="percent_payment_due">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">

                            <mat-form-field class="example-full-width">
                                <mat-label>Progress As On Date</mat-label>
                                <input matInput type="text" placeholder="" formControlName="progress_date">
                        </mat-form-field>

                    </div>
                    <div class="col-lg-2 padlr">
                        <mat-form-field>
                            <mat-label>Upload Document Type</mat-label>
                            <mat-select formControlName="doc_type">
                                <mat-option *ngFor="let doc_type of upload_doc_type" value="{{ doc_type.CD_VAL }}">
                                    {{doc_type.CD_DESC}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 px-0">
                <div class="col-lg-12 col-12 row m-0 pl-0">
                    <div class="col-lg-2 col-2 pr-0">
                        <img [routerLink]="['/project-overview']" class="w-01 top"
                            src="./assets/images/icons/upload icon.png" width="100%">
                    </div>
                    <!-- <div class="col-lg-2 col-2 px-0">
                    <img class="w-01 ml-1 top" src="./assets/images/icons/view icon.png" width="100%"
                        style="position: relative !important;">
                    <span class="badge newbadge newbadge1 badge-danger">12</span>
                </div> -->

                    <!-- for desktop view only -->
                    <div class="col-lg-3 top pl-0 hidemobile">
                        <button class="fs-13 btn web_btn" type="submit">Submit</button>
                    </div>
                    <div class="col-lg-5 top px-0 hidemobile">
                        <button class="fs-13 btn web_btn" type="button">Raise Demand Letter</button>
                    </div>
                    <!-- for desktop view only -->

                </div>
            </div>
        </form>
    </div>







</div>