
@media screen and (min-width:280px) and (max-width: 330px){
  .fs-13 {font-size: 11px !important;}
}
@media screen and (min-width:320px) and (max-width: 576px){
  .lr-15 {padding-left: 15px !important;padding-right: 15px !important;}
 .side {display: inline-flex !important;}
 .auto-btn {margin: auto; width: 100%;}
 .mob-px {padding-left: 15px !important;padding-right: 15px !important;}
 .mob-pl {padding-left: 8px !important;}
 .mobtn-pl {padding-left: 0px !important; padding-right: 15px !important;}
 .mob-pr {padding-right: 15px !important;}
.modal-dialog{margin-top: 12%;}
.width-cap {width: 29% !important;position: absolute;top: 0;}
.hide input {opacity: 0;z-index: 5;position: absolute;width: 30% !important;}

  .btn_mobile{
    text-align: center !important;
    border-radius: 50px;
    background-color: #e3310d;
    color: white;
    display: block;
    font-size: 13px;
    height: 27px !important;
    cursor: pointer;
    padding: 4px !important;
    box-shadow: 1px 3px 8px #ed1c2452;
    outline-style: none;
  }
  .newbadge1{
    position: absolute !important;
    left: 29px !important;
    padding: .1em 0.2em !important;
  }
  .hidemobile{
    display: none !important;
  }
  .mart-2{
    margin-top: 14px !important;
  }
  .prnew{
    padding-right: 0px !important;
  }
    .cell{text-align: -webkit-right}
    .Q-ser{display: inline-flex;}
    .btn-1{display: none;}
    input{border: none;width: 90% !important;font-size: 12px;}
    mat-label {font-size: 13px !important;}

                                /* MAIN CONTENT*/

    .main-list{margin-top: 20px;border: 1px solid rgb(156, 155, 155);padding: 10px;border-radius: 10px;}
    .w-01 {width: 30px;}
    .i-con {position: absolute;top: -10%;right: 0;}
    .i-con .badge {position: absolute;right: 12px;height: 15px;width: 15px;font-size: 9px;padding: 2px;}
    .tick p {font-size: 10px;}
    p{margin-bottom: 0px !important;padding-bottom: 5px !important;}
     .name{padding-left: 10px !important;}
     .top{display: inline-flex;}
     .raj {padding-top: 6px;font-size: 12px;}
     .raj1{
       padding-top: 6px !important;
     }
  
    .span-50 {margin-top:8px;}
    .flex {display: block !important}

              .search {padding-top: 5px !important;}
              .mat-form-field{width: 100%;}
              .web_btn{
                text-align: center !important;
                border-radius: 50px;
                background-color: #e3310d;
                color: white;
                display: block;
                font-size: 13px;
                height: 27px !important;
                cursor: pointer;
                padding: 3px 12px !important;
                box-shadow: 1px 3px 8px #ed1c2452;
                outline-style: none;
              }

              #upload .up {
                width: 35% !important;}
}


@media screen and (min-width:576px) and (max-width: 2000px){
.padtop-4 {padding-top: 4px;}
.padtop-5 {padding-top: 5px;}
.flex {display: inline-flex;}
.auto-btn {margin: auto;}
.width-cap {width: 30% !important;position: absolute;top: 0;}
.hide input {opacity: 0;z-index: 5;position: absolute;width: 30% !important;}
  /* ------------------------------------------------by M   */

  .web_btn{
    text-align: center !important;
    border-radius: 50px;
    background-color: #e3310d;
    color: white;
    display: block;
    font-size: 13px;
    height: 27px !important;
    cursor: pointer;
    padding: 3px 12px !important;
    box-shadow: 1px 3px 8px #ed1c2452;
    outline-style: none;
  }
  .hidemobile img {cursor: pointer;}
   .hideweb{
     display: none !important;
   }
  .newbadge{
    position: absolute !important;
    top: 8px;
    left: 22px;
    padding: .1em 0.2em;
  }
  .padlr{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
    .first-line{display: inline-flex;}
    .Q-ser{display: inline-flex;}
    input{border: none;font-size: 12px;width: 90% !important;}
    .ltd{padding-left: 0px !important;}
    .top{padding-top: 15px;}
    .first-line{margin-right: 0px !important;margin-bottom: -10px !important;}

    .main-list{border: 0.5px solid rgb(230, 229, 229);font-size: 13px;border-radius: 10px;box-shadow: 0px 0px 1.5px 0px rgb(167, 166, 166);}
    .main-list:hover{border: 1px solid grey;box-shadow: 0px 2px 2px grey;}
    .main_btn_log {border:1px solid #e3310d;width: 100%;}
    .tick{font-size: 12px;}
    .fa-cloud-upload {cursor: pointer;}
     label{font-size: 12px;}
    .head{display: inline-flex;}
    .w-01 {width: 30px;}
    .top{padding-top: 15px; display: inline-flex;}
    .raj {padding-top: 3px;}
    .i-con .badge {position: absolute;right: 0;height: 15px;width: 15px;font-size: 9px;padding: 2px;}
    /* .i-con .badge {height: 15px;width: 15px;font-size: 9px;position: absolute; padding: 2px;right: 0%;} */
    .bar-green {background-color: #00cc43;}    
    .bar-yellow {background-color: #f9c344;}
    .bar-red {background-color: #e3310d;}  
  
    
.search {height: 44px;}
#upload .up {
  width: 25% !important;}
}
     /* -------------------------modal box--------------------   */
.modal-title {color: #e3310d;}
.modal-header {padding: 10px 10px 10px 0px;}
.sub-btn {margin: auto;}
.close {padding: 15px !important;margin-top: -20px;}
.btn-upload {
  background-color: #e3310d;
  border-radius: 40px;
  color: white;
  border: 1px solid #e3310d;
  height: 30px;
  font-size: 12px;
  padding: 8px 25px;
  position: absolute;
  top: -8px !important;
  right: 0 !important;
}
#upload .up {
  /* width: 25% !important; */
  position: absolute;
  right: 4px !important;
  z-index: 5;
  opacity: 0;
  top: -8px !important;
  height: 30px;}
 /* -------------------------modal box--------------------   */

.flex {display: inline-flex}

  .mat-form-field{font-size: 13px;width: 100%;}


.progress-div{
    display: none;
}

.fil-div{
    display: none;
  }
  .w-20{
    width: 20px !important;
}
.modal_btn{
  text-align: center !important;
  border-radius: 50px;
  background-color: #e3310d;
  color: white;
  display: block;
  font-size: 13px;
  height: 30px !important;
  cursor: pointer;
  padding: 3px 18px !important;
  box-shadow: 1px 3px 8px #ed1c2452;
  outline-style: none;
  width: 100%;
  margin: auto !important;
} 


@media screen and (min-width:1500px) and (max-width: 2200px){
.pad-l {padding-left: 15px !important;}
.pad-r {padding-right: 15px !important;}
.pad-x {padding-left: 15px !important;padding-right: 15px !important;}
.auto-btn {width: 100%;}
}