<div class="col-lg-12 project">
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
          <mat-label>PROJECT NAME<span class="text-danger">*</span></mat-label>
          <input matInput>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="standard">
        <mat-label>HDFC BRAND<span class="text-danger">*</span></mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
          <mat-option value="option">m1</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
          <mat-form-field appearance="standard">
            <mat-label>PRODUCT CATEGORY<span class="text-danger">*</span></mat-label>
            <mat-select>
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">m1</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-lg-3">
          <mat-form-field appearance="standard">
            <mat-label>PROJECT TYPE</mat-label>
            <mat-select>
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">m1</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

</div>
<div class="col-lg-12 mt-2 project">
    <div class="col-lg-3">
          <mat-form-field appearance="standard">
            <mat-label>STATE OF CONSTRUCTION</mat-label>
            <mat-select>
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">m1</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
          <mat-label>PROJECT LAUNCH DATE</mat-label>
          <input matInput>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
          <mat-label>WORK COMMENCEMENT DATE</mat-label>
          <input matInput>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field appearance="standard">
          <mat-label>EXPECTED COMPLETION DATE</mat-label>
          <input matInput>
      </mat-form-field>
    </div>

</div> 
<div class="col-lg-12 mt-2 project">
<div class="col-lg-6">
  <mat-form-field appearance="standard">
    <mat-label>DEVELOPER NAME</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">m1</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-lg-6">
    <mat-form-field appearance="standard">
      <mat-label>WEBSITE</mat-label>
      <input matInput>
  </mat-form-field>
</div>
</div>

<div class="col-lg-12 mt-2 project">
<div class="col-lg-6">
  <mat-form-field appearance="standard">
    <mat-label>REMARK</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
</div>
<div class=" col-lg-6 col-12 button mt-4">
<div class="text-center col-lg-4 "> 
<span class="main_btn_log">NEXT</span>
</div>
<div class="text-center col-lg-4"> 
<span class="main_btn_log draft">DRAFT</span>
</div>
</div>