@media screen and (min-width:320px) and (max-width: 576px){
            /* MAIN CONTAIN  */
            .main-list{margin-top: 20px;border: 1px solid rgb(156, 155, 155);padding: 10px;border-radius: 10px;}
            .filter img {height: 20px;margin-bottom: 4px;}
            .web-b {display: none;}
            .badge{font-weight: normal !important;border-radius: 10px;padding:5px 10px 5px 10px;background: linear-gradient(90deg, #e3310d 0%, #e3310d 52%, #e3310d 100%);}
            .Q-ser{display: inline-flex;}
            .i-con{top: 0;position: absolute;right: 0;padding-top: 10px!important;}
              input{border: none;padding: 0px;width: 80%!important;font-size: 12px;padding-top: 4px;}
            .res p {font-size: 10px;}
            .w-01 {width: 30px;}
            .dollar {padding-top: 6px;}
            .bar-1 {background-color: #66cbff;}
            .bar-2 {background-color: #00cc43;}
            .bar-3 {background-color: #3f98fd;}
            .modal-body {font-size: 8px;}
            .modal-body .table td {padding-left: 5px !important;padding-right: 5px !important;}
            .modal-body .table th {padding-left: 5px !important;padding-right: 5px !important;text-align: center;}
            .modal-title {font-size: 12px;}
            .modal-footer {background-color: rgb(243, 241, 241);}
            tr {text-align: center;}
            .footer {display: inline-flex;text-align: end;font-size: 8px;}
            .flex {display: block !important;}
            .drop-d {padding-left: 0px !important;padding-right: 0px !important;}
            mat-label {font-size: 13px !important;}
           

}


@media screen and (min-width:576px) and (max-width: 2000px){
              /* MAIN CONTENT  */
    .main-list{border: 0.5px solid #dfdede;font-size: 13px;display: inline-flex;border-radius: 10px;box-shadow: 0px 0px 1.5px 0px rgb(167, 166, 166);margin-top: 20px;}
    .Q-ser{display: inline-flex;}
    .main-list:hover{border: 1px solid grey;box-shadow: 0px 2px 2px grey;}
     .search-result{display: inline-flex;}
     .res {font-size: 12px;}
     .badge{font-weight: normal !important;border-radius: 10px;padding:5px 10px 5px 10px;background: linear-gradient(90deg, #e3310d 0%, #e3310d 52%, #e3310d 100%);}
     .circle span {font-size: 12px;}
     .bar-1 {background-color: #66cbff;}
     .bar-2 {background-color: #00cc43;}
     .bar-3 {background-color: #3f98fd;}
     .w-01 {width: 30px;}
    .i-con{font-size: 20px;}
    .icons{padding: 8px;height: 30px;width: 30px;font-size: 15px;}
    .top{padding-top: 15px;}
    .first-line{margin-right: 0px !important;display: inline-flex;}
    input{border: none;padding: 0px;width: 80%!important;font-size: 12px;padding-top: 4px;} 
    .main_btn_log {width: 100%;border:1px solid #e3310d;}

        
/* ------------------------------MODAL---------------------------- */

     .modal-dialog{top:10%}
     .modal-content{width: 150%;margin-left: -15%;}
     .modal-title {font-size: 15px;}
     .modal-body {font-size: 12px;}
     .modal-footer {background-color: rgb(243, 241, 241);}
     .footer {display: inline-flex;text-align: end;font-size: 12px;}
     .close {padding: 15px !important;margin-top: -20px;}
     tr {text-align: center;}
     .flex {display: inline-flex;}
     .search {height: 45px;}
}
.fa-times{cursor: pointer;}
.mat-form-field{font-size: 13px;width: 100%;}