<div class="col-lg-12 whole">

    <!-- ----------------BREADCRUM----------->
    <div class="col-lg-12 pl-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1 pl-0">
                <li class="breadcrumb-item home px-0"><a href="#">Home</a></li>
                <li class="breadcrumb-item px-0"><a href="#">Projects</a></li>
                <li class="breadcrumb-item px-0"><a href="#">Manage</a></li>
                <li class="breadcrumb-item px-0"><a href="#">Project Disbusrement</a></li>
            </ol>
        </nav>
    </div>
    <!-- ----------------BREADCRUM----------->

    <div class="col-lg-12 px-0 first-line ">
        <div class="col-lg-7 pl-0 mx-0 mt-2 list">
            <h5>Project Disbursement</h5>
        </div>
        <div class="col-lg-5 col-sm-12 search-bar px-0">
            <div class="col-lg-12 col-12 Q-ser pr-0 pl-0">
                <div class="col-lg-8 col-10 px-0 py-0 mt-2 search">
                    <form class="form-inline mx-0">
                        <i class="fa fa-search pr-1" aria-hidden="true"></i>
                        <input type="search" placeholder="Search By Project/Building/Customer" aria-label="Search">
                    </form>
                </div>
                <div class="col-2 cell px-0 ml-2 mt-2 pl-2">
                    <div class="col-2 filter">
                      <img src="./assets/images/icons/filter.png"> 
                    </div>
                </div>
                <div class="col-lg-4  web-b px-0">
                    <div class="col-lg-10 pl-0">
                        <div class="text-center">
                            <span class="main_btn_log"><i class="fa fa-filter" aria-hidden="true"></i> Filter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------------------HEAD TITLE ENDS HERE------------------------------------- -->

    <div class="col-lg-12 pl-0 search-result">
        <div class="col-lg-2 px-0 res">
            <p class="font-italic text-secondary mb-0 pt-1">15 Result Found in</p>
        </div>
        <div class="col-lg-10">
            <span class="badge badge-danger ml-1"><i class="fa fa-building pr-1" aria-hidden="true"></i>Raj Anderson<i class="fa fa-times pl-1" aria-hidden="true"></i></span>
            <span class="badge badge-danger ml-1"><i class="fa fa-building pr-1" aria-hidden="true"></i>Gusnam<i class="fa fa-times pl-1" aria-hidden="true"></i></span>
            <span class="badge badge-danger ml-1"><i class="fa fa-building pr-1" aria-hidden="true"></i>Raj Anderson yoyo<i class="fa fa-times pl-1" aria-hidden="true"></i></span>
            <span class="badge badge-danger ml-1"><i class="fa fa-building pr-1" aria-hidden="true"></i>Gusnam Shirgopal Venkatraman<i class="fa fa-times pl-1" aria-hidden="true"></i></span>
        </div>

    </div>






    <!-- ------------------------------MAIN CONTAIN------------------------------------ -->

    <div class="col-xl-12 col-12 pb-2 main-list mt-3 px-0" data-toggle="modal" data-target="#exampleModal">

        <div class="col-xl-3 col-8 pr-0 mb-0 name">
            <p class="top mb-0"><b>Gusnam Shirgopal Venkatraman</b>
            </p>
        </div>
        <div class="col-xl-3 col-8 pr-0 mb-0 address">
            <p class="top mb-0"><b>C-114/First floor</b>
            </p>
        </div>
        <div class="col-xl-5 col-10 pt-2 circle">
            <label class="text-secondary font-italic mb-0">Total Disbursement Mode</label>
            <span class="float-right dollar"><b>$21,00,000</b></span>
            <div class="progress" style="height:5px;width: 100%;">
                <div class="progress-bar bar-1" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bar-2" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bar-3" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
        <div class="col-xl-1 col-2 text-center i-con pt-2 px-0">
          <img class="w-01 ml-1" src="./assets/images/icons/view icon.png">
        </div>
    </div>

    <div class="col-xl-12 col-12 pb-2 main-list mt-3 px-0" data-toggle="modal" data-target="#exampleModal">

      <div class="col-xl-3 col-8 pr-0 mb-0 name">
          <p class="top mb-0"><b>Gusnam Shirgopal Venkatraman</b>
          </p>
      </div>
      <div class="col-xl-3 col-8 pr-0 mb-0 address">
          <p class="top mb-0"><b>C-114/First floor</b>
          </p>
      </div>
      <div class="col-xl-5 col-10 pt-2 circle">
          <label class="text-secondary font-italic mb-0">Total Disbursement Mode</label>
          <span class="float-right dollar"><b>$21,00,000</b></span>
          <div class="progress" style="height:5px;width: 100%;">
              <div class="progress-bar bar-1" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bar-2" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bar-3" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
      </div>
      <div class="col-xl-1 col-2 text-center i-con pt-2 px-0">
        <img class="w-01 ml-1" src="./assets/images/icons/view icon.png">
      </div>
  </div>

  <div class="col-xl-12 col-12 pb-2 main-list mt-3 px-0" data-toggle="modal" data-target="#exampleModal">

    <div class="col-xl-3 col-8 pr-0 mb-0 name">
        <p class="top mb-0"><b>Gusnam Shirgopal Venkatraman</b>
        </p>
    </div>
    <div class="col-xl-3 col-8 pr-0 mb-0 address">
        <p class="top mb-0"><b>C-114/First floor</b>
        </p>
    </div>
    <div class="col-xl-5 col-10 pt-2 circle">
        <label class="text-secondary font-italic mb-0">Total Disbursement Mode</label>
        <span class="float-right dollar"><b>$21,00,000</b></span>
        <div class="progress" style="height:5px;width: 100%;">
            <div class="progress-bar bar-1" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bar-2" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bar-3" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
    <div class="col-xl-1 col-2 text-center i-con pt-2 px-0">
      <img class="w-01 ml-1" src="./assets/images/icons/view icon.png">
    </div>
</div>

<div class="col-xl-12 col-12 pb-2 main-list mt-3 px-0" data-toggle="modal" data-target="#exampleModal">

  <div class="col-xl-3 col-8 pr-0 mb-0 name">
      <p class="top mb-0"><b>Gusnam Shirgopal Venkatraman</b>
      </p>
  </div>
  <div class="col-xl-3 col-8 pr-0 mb-0 address">
      <p class="top mb-0"><b>C-114/First floor</b>
      </p>
  </div>
  <div class="col-xl-5 col-10 pt-2 circle">
      <label class="text-secondary font-italic mb-0">Total Disbursement Mode</label>
      <span class="float-right dollar"><b>$21,00,000</b></span>
      <div class="progress" style="height:5px;width: 100%;">
          <div class="progress-bar bar-1" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bar-2" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bar-3" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
  </div>
  <div class="col-xl-1 col-2 text-center i-con pt-2 px-0">
    <img class="w-01 ml-1" src="./assets/images/icons/view icon.png">
  </div>
</div>


</div>


<!-- -----------------------MODAL---------------------- -->

<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><img src="./assets/images/icons/building2.png" height="20px"> Raj Anderson (C-114/First floor)</h5>
          <button type="button" class="close pt-1" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
          </button>
        </div>
        <div class="modal-body px-0">
            <table class="table">
                <thead class="thead-dark text-center">
                  <tr>
                    <th scope="col">DISBMT NO</th>
                    <th scope="col">DISBMT DATE</th>
                    <th scope="col">PAYEE NAME</th>
                    <th scope="col">CHEQUE/UTR NO</th>
                    <th scope="col">DISBMT AMT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td class="text-primary">3770</td>
                    <td>15 Dec'18</td>
                    <td>Gaurav Mirchandani</td>
                    <td>1001</td>
                    <td>$ 25,00,000</td>
                  </tr>
                  <tr>
                    <td class="text-primary">3770</td>
                    <td>15 Dec'18</td>
                    <td>Gaurav Mirchandani</td>
                    <td>1001</td>
                    <td>$ 45,00,000</td>
                  </tr>
                  <tr>
                    <td class="text-primary">3770</td>
                    <td>15 Dec'18</td>
                    <td>Gaurav Mirchandani</td>
                    <td>1001</td>
                    <td>$ 5,00,000</td>
                  </tr>
                  <tr>
                    <td class="text-primary">3770</td>
                    <td>15 Dec'18</td>
                    <td>Gaurav Mirchandani</td>
                    <td>1001</td>
                    <td>$ 75,00,000</td>
                  </tr>
                  <tr>
                    <td class="text-primary">3770</td>
                    <td>15 Dec'18</td>
                    <td>Gaurav Mirchandani</td>
                    <td>1001</td>
                    <td>$ 55,00,000</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
           <div class="col-12">
             <div class="col-4 col-10 px-0 float-right footer">
               <div class="col-8 px-0">TOTAL DISBURSEMENT</div>
               <div class="col-4 px-0">$ 100,00,00,000</div>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>