<!-- <div class="row m-0">
       
       
        <div class="col-lg-4 col-xl-4 col-sm-12 col-12">
            <p class="bl">Top 3 Projects</p>
            <div style="border: 1px solid gray;border-radius: 9px ;" class="col-12 p-3">
                <div class="row">
                    <div class="col-5">
                        <h6 class="font-weight-bold">SUN SKY PARK</h6>
                    </div>
                    <div class="col-5">
                        <button style="background-color: lightskyblue;height: 70%;border-radius: 25px;"
                         class="btn"  >Residential</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1">
                        <span><i class="fa fa-map-marker-alt"></i></span>
                    </div>
                    <div class="col-3 pl-0 pr-0">
                        <p class="fs-12">Lower Parel</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="fs-12">Total Funding</p>
                    </div>
                    <div class="col-9">
                        <p class="fs-12">Leads to Clients</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 pr-0">
                        <h6 class="font-weight-bold">100 Crores</h6>
                    </div>
                    <div class="col-6 pl-0 pr-0">
                        <span><i class="fa fa-user"></i></span>
                        <span><i class="fa fa-user"></i></span>
                        <span><i class="fa fa-user"></i></span>
                        <span><i class="fa fa-user"></i></span>
                        <span><i class="fa fa-user"></i></span>
                        <span><i class="fa fa-user"></i></span>
                        <span><i class="fa fa-user"></i></span>
                        <span><i class="fa fa-user"></i></span>
                        <span><i class="fa fa-user"></i></span>
                        <span><i class="fa fa-user"></i></span>
                    </div>
                    <div class="col-2 pl-0 pr-0">
                        <h6><span class="font-weight-bold">38</span>/75</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="fs-12">Retail Disbursement</p>
                    </div>

                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
            <div class="col-12">

            </div>
            <div class="col-12">

            </div>
        </div>
     
        <div class="col-8">

        </div>
    
    </div> -->

    <div class="col-lg-12 px-0 row m-0">
        <div class="col-lg-4 mt-4 pr-0 padl">

            <app-dashboard-projects></app-dashboard-projects>
         
        </div>
        <div class="col-lg-8 pr-0">
           <app-dashboard-loan></app-dashboard-loan>
        </div>
    </div>