.box {margin: auto; border-radius: 9px;border: 2px solid;margin-top: 15%;}
mat-form-field {width: 100% !important;font-size: 13px !important;}
h5 {color: #e3310d;}
.btn {margin: auto;}
.btn span {outline: none !important;}
.back-login {color: #e3310d}
.main_btn_log {width: 100%;border: 1px solid #e3310d;}

@media screen and (min-width:320px) and (max-width: 576px) {
    mat-label {font-size: 15px !important;}
    .btn span {font-size: 13px !important;}

}