@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/titillium-web-v7-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'),
       url('/assets/fonts/titillium-web-v7-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/titillium-web-v7-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/titillium-web-v7-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/titillium-web-v7-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/titillium-web-v7-latin-300.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/titillium-web-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
       url('/assets/fonts/titillium-web-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/titillium-web-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/titillium-web-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/titillium-web-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/titillium-web-v7-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-600 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/titillium-web-v7-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
       url('/assets/fonts/titillium-web-v7-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/titillium-web-v7-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/titillium-web-v7-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/titillium-web-v7-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/titillium-web-v7-latin-600.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-700 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/titillium-web-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
       url('/assets/fonts/titillium-web-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/titillium-web-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/titillium-web-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/titillium-web-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/titillium-web-v7-latin-700.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
html, body {font-family: 'Titillium Web'!important;}
/* h1,h2,h3,h4,h5,h6, span , p, label, {font} */

.input[type="text"]:focus,
.input[type="password"]:focus,
.input[type="email"]:focus
.input[type="search"]:focus{
  outline: 0 none;
}
input{outline: none !important;}
textarea{outline: none !important;}
.form-type {width: 100%; 
    height: 40px;
    display: flex;
    margin: 8% auto 5% auto; 
    outline: none;
  }

.span{font-size: 12px;}
#submit .mat-tab-header{
  background-color:white!important;
  color: black;
}
#submit1 .mat-tab-header{
  background-color:white!important;
  color: black;
}
#submit .mat-tab-group.mat-primary .mat-ink-bar{background-color: red;}
#submit1 .mat-tab-group.mat-primary .mat-ink-bar{background-color: red !important;}
#submit .mat-ink-bar {height: 4px !important;}
#submit1 .mat-ink-bar {height: 4px !important;}
#submit .mat-tab-label .mat-tab-label-content{
  color: black !important;
}
#submit1 .mat-tab-label .mat-tab-label-content{
  color: black !important;
}
/* #submit .mat-form-field-infix{
  padding:0 !important;
} */
#submit .mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: white;
}
#submit1 .mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: white;
}
.login-box{ background-color: white;border-radius: 10px;box-shadow: 0px 4px 20px 7px #ed1c2421;}
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


@media screen and (min-width:576px) and (max-width: 2000px){
  
  .btn-secondary{
    width: 38% !important;
  }
  #matnewtabs .mat-tab-label{
    padding:0 45px !important;
  }
  /* .padl{
    padding-left: 0px !important;
} */
  .whole{padding-right: 40px;}
  
  /* --------------------BREAD CRUM-----FOR DESKTOP----------------- */

  .breadcrumb{background: none!important;font-size: 10px;}
  .breadcrumb-item a {color: black;}
  .breadcrumb-item::before{content: ">"!important;padding-right: 1px!important;}
    .home::before{content: none!important;}

  /* --------------------TITLE-----FOR DESKTOP----------------- */
  .list{display: inline-flex;}
  .list .badge{height: 18px;border-radius: 10px;width: 35px;}
  .list h5{color:#ed1c24;font-weight: 700;} 

  input:focus{outline: none;}

  /* ----------------------Search bar----------------- */
  .search{border-bottom: 1px solid rgb(192, 190, 190);}
  .search-bar{padding-right: 0px !important;}
  .Q-ser{margin-left: 25px;}
  .cell{display: none;}


  /* ------------------BUTTON----------------- */
  .main_btn_log{
    text-align: center;
    border-radius: 50px;
    background-color: #f72805;
    color: white;
    display: block;
    font-size: 13px;
    height: 35px;
    cursor: pointer;
    padding: 8px;
    box-shadow: 1px 3px 8px #ed1c2452;
  }

    .i-con {padding-left: 0px!important;}
    .i-con .badge {height: 15px;width: 15px;font-size: 9px;position: absolute;padding: 2px;}
    .icons{color:rgb(108, 108, 214); background-color: rgb(199, 217, 223);border-radius: 50%;position: relative;}

}
.ngx-file-drop__drop-zone{height:40px !important;margin:auto;border:1px dotted #a7a9aa !important;border-radius:9px !important}
.ngx-file-drop__content{height:40px !important;color:grey !important;font-size: 12px !important;}

/* ---------------------------FOR MOBILE-------------------------- */

@media screen and (min-width:300px) and (max-width: 576px){
  /* .padlr{padding-left: 0px !important;padding-right: 0px !important;} */
  .breadcrumb{display: none;}
  .list{display:none}
  .search-bar{margin-top: 10px;}
  input:focus{outline: none;}
  .form-inline {padding-bottom: 5px;}
  /* .main_btn_log{ display: none;} */
  .main_btn_log{
    /* text-align: center; */
    border-radius: 50px;
    background-color: #f72805;
    color: white;
    display: block;
    font-size: 13px;
    /* height: 35px; */
    cursor: pointer;
    padding: 8px;
    box-shadow: 1px 3px 8px #ed1c2452;
  }
  .search{border-bottom: 1px solid rgb(192, 190, 190);}
  .cell{font-size: 18px;}

              /* MAIN CONTENT  */
  .main-list{margin-top: 20px;border: 1px solid rgb(156, 155, 155);padding: 10px;border-radius: 10px;}
   p{font-size: 12px;}
   label, span{font-size: 10px;}
  .tick{padding-left: 15px!important;padding-right: 0px !important;}
  .icons{color: rgb(108, 108, 214); background-color: rgb(199, 217, 223);border-radius: 50%;padding: 4px;height: 25px;width: 25px;font-size: 15px;}
  .i-con .badge {height: 15px;width: 15px;font-size: 9px;position: absolute;padding: 2px;}




}


#calendar .mat-form-field-flex {padding-top: 9px !important;}

.cgray
{
  color: lightgray !important;
}
.wcolor{
  color: white !important;
}
.fs-10{
  font-size: 10px !important;
}
.fs-12{
  font-size: 12px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-16{
  font-size: 16px !important;
}
.line{
  border-bottom: 1px solid lightgrey !important;
  position: relative;
  left: 15px;
  width: 84%;
}
.mat-tab-nav-bar, .mat-tab-header {
  border-bottom: none !important;
}
.bl{
  border-left: 4px solid red !important;
}
.br{
  border: 1px solid lightgray !important;
}
.brnew{
  border-radius: 9px !important;
}
.scrollbar
 {
    height: 258px;
    overflow: hidden;
    overflow-y: auto;
    /* padding-bottom: 30px; */
    /* padding-right: 30px !important; */
    padding-top: 0px;
    padding-left: 0px;

 }

 .scrollbar::-webkit-scrollbar {
    width: 2px;
    }
.scrollbar::-webkit-scrollbar-thumb {
    background: lightgray;
  
 }
 .newbtn{
  background-color: #3A77DF;height: 70%;border-radius: 25px;color: white;
}
#matnewtabs .mat-tab-label .mat-tab-label-content{
  color: white;
}


#matnewtabs .mat-tab-header-pagination-chevron{
  border-color: white !important;
}
#matnewtabs .mat-tab-header{
  background-color: black;
  border-bottom: none !important;
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
}
.btn-secondary{
  color: black !important;
  background-color: white !important;
  border: 1px solid lightgray  !important;
  font-size: 12px !important;
  font-weight: bold;
  
}
.dropdown-toggle::after{
  margin-left: 28px !important;
  font-size: 16px !important;
  padding-top: 0;
  vertical-align: 1px;
}
#matnewtabs .mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: lightgray !important;
  bottom: 34px !important;
}
/* .mat-form-field-underline{
  width: 311% !important;
} */
#matnewtabs .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background-color: rgb(246,54,20) !important;
}
#matnewtabs .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color: gray !important;
}
#matnewtabs .mat-slide-toggle-thumb {
  height: 15px !important;
  width: 15px !important;
  border-radius: 50%;
  margin-top: 4px;
}
#matnewtabs .mat-slide-toggle-bar {
  position: relative;
  width: 31px !important;
  height: 18px !important;
  flex-shrink: 0;
  border-radius: 8px;
}
#matnewtabs .mat-input-element {
  caret-color: gray !important
}
#forassistance .mat-form-field-infix{
  padding: 15px 0;
}
#submit1 .mat-form-field-infix{
  padding: 15px 0;
}
#matnewtabs .mat-form-field{
  display: block !important;
}
#matnewtabs .mat-tab-group.mat-primary .mat-ink-bar{background-color: red;}
.modal-content{
  border: none !important;
}