<!-- <p>dashboard-projects works!</p> -->
<!-- <h5 class="bl pl-2">0Top 3 Projects</h5> -->
<p class="fs-12 bl font-weight-bold pl-2 mt-2">Top 3 Projects</p>

            
<div class="col-lg-12 p-2 mt-4 shadow bg-white rounded ml-8">
    <div class="col-lg-12 pl-0">
        <h6 class="pt-1 font-weight-bold m-0 fs-12">SUN SKY PARK
            <span class="text-center fs-12 newbtn pl-3 pr-3  font-weight-normal ml-3">
                Residential</span>
        </h6>
      
      <img class="newimg" src="./assets/images/icons/location.png" alt="">
       <span class="fs-12 pl-1">Lower Parel</span>

    </div>
    <div class="col-lg-12 pl-0 d-inline-flex">
        <div class="col-lg-5 col-4 pr-0 pl-0">
            <p class="fs-12 m-0 cgray">Total Funding</p>
            <h5 class="font-weight-bold m-0">100 Crores</h5>
        </div>
        <div class="col-lg-7 col-8 pr-0 pl-0 pl-15">
            <p class="fs-12 m-0 text-left cgray">Leads to Clients</p>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="cgray"><i class="fa fa-user"></i></span>
            <span class="pt-3 pl-2 fs-12"><span class="font-weight-bold fs-16">38</span>/75</span>

        </div>


    </div>
    <div class="col-lg-12 pl-0">
        <p class="fs-12 m-0 cgray">Retail Disbursement</p>
        <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 40%;color: black;background-color: rgb(194,237,254);position: relative;top: -1px;left: -1px;height: 100px;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" class="font-italic">15 Crores</div>
        </div>
    </div>

</div>

<div class="col-lg-12 p-2  mt-4 shadow bg-white rounded ml-8">
    <div class="col-lg-12 pl-0">
        <h6 class="pt-1 font-weight-bold m-0 fs-12">INDRAPRASHTA GULMOHAR
            <span class="text-center fs-12 newbtn pl-3 pr-3  font-weight-normal ml-3">
                Residential</span>
        </h6>
      
      <img class="newimg" src="./assets/images/icons/location.png" alt="">
       <span class="fs-12 pl-1">Lower Parel</span>

    </div>
    <div class="col-lg-12 col pl-0 d-inline-flex">
        <div class="col-lg-5 col-4 pr-0 pl-0">
            <p class="fs-12 m-0 cgray">Total Funding</p>
            <h5 class="font-weight-bold m-0">100 Crores</h5>
        </div>
        <div class="col-lg-7 col-8 pl-0 pr-0 pl-15">
            <p class="fs-12 m-0 text-left cgray">Leads to Clients</p>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="cgray"><i class="fa fa-user"></i></span>
            <span class="pt-3 pl-2 fs-12"><span class="fs-16 font-weight-bold">38</span> /75</span>

        </div>
      

    </div>
    <div class="col-lg-12 pl-0">
        <p class="fs-12 m-0 cgray">Retail Disbursement</p>
        <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 40%;color: black;background-color: rgb(194,237,254);position: relative;top: -1px;left: -1px;height: 100px;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" class="font-italic">15 Crores</div>
        </div>
    </div>

</div>

<div class="col-lg-12 p-2 mt-4 shadow bg-white rounded ml-8">
    <div class="col-lg-12 pl-0">
        <h6 class="pt-1 font-weight-bold m-0 fs-12">PAREKHS HOSPITAL
            <span class="text-center fs-12 newbtn pl-3 pr-3  font-weight-normal ml-3">
                Residential</span>
        </h6>
      
      <img class="newimg" src="./assets/images/icons/location.png" alt="">
       <span class="fs-12 pl-1">Lower Parel</span>

    </div>
    <div class="col-lg-12 col pl-0 d-inline-flex">
        <div class="col-lg-5 col-4 pr-0 pl-0">
            <p class="fs-12 m-0 cgray">Total Funding</p>
            <h5 class="font-weight-bold m-0">100 Crores</h5>
        </div>
        <div class="col-lg-7 col-8 pr-0 pl-0 pl-15">
            <p class="fs-12 m-0 text-left  cgray">Leads to Clients</p>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cred"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="ls cgray"><i class="fa fa-user"></i></span>
            <span class="cgray"><i class="fa fa-user"></i></span>
            <span class="pt-3 pl-2 fs-12"><span class="fs-16 font-weight-bold">38</span> /75</span>


        </div>


    </div>
    <div class="col-lg-12 pl-0">
        <p class="fs-12 m-0 cgray">Retail Disbursement</p>
        <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 40%;color: black;background-color: rgb(194,237,254);position: relative;top: -1px;left: -1px;height: 100px;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" class="font-italic">15 Crores</div>
        </div>
    </div>

</div>