<!-- <p>dashboard-projects works!</p> -->
<!-- <h5 class="bl pl-2">0Top 3 Projects</h5> -->
<p class="fs-13 bl font-weight-bold pl-2 mt-2">Top 3 Projects</p>


<div class="col-lg-12 p-2 mt-4 shadow bg-white brnew  ml-8" *ngFor="let data of top_projects;let i = index">
    <div class="col-lg-12 pl-0">
        <h6 class="pt-1 font-weight-bold m-0 fs-13">{{data.PROJECT_NAME | titlecase}}
            <span class="text-center fs-12 newbtn pl-3 pr-3  font-weight-normal ml-3">
                {{data.PROP_CLASS | titlecase}}</span>
        </h6>

      <img class="newimg" src="./assets/images/icons/location.png" alt="">
       <span class="fs-12 pl-1">{{data.LOCATION | titlecase}}</span>

    </div>
    <div class="col-lg-12 pl-0 d-inline-flex">
        <div class="col-lg-5 col-4 pr-0 pl-0">
            <p class="fs-12 m-0 cgray">Total Funding</p>
            <h5 class="font-weight-bold m-0">{{data.TOTAL_FUNDING}} Crores</h5>
        </div>
        <div class="col-lg-7 col-8 pr-0 pl-0 pl-15">
            <p class="fs-12 m-0 text-left cgray">Leads to Clients</p>
            <span class="ls" [ngClass]="data.u1 ? 'cred' : 'cgray'" ><i class="fa fa-user"></i></span>
            <span class="ls" [ngClass]="data.u1 ? 'cred' : 'cgray'"><i class="fa fa-user"></i></span>
            <span class="ls" [ngClass]="data.u1 ? 'cred' : 'cgray'"><i class="fa fa-user"></i></span>
            <span class="ls" [ngClass]="data.u1 ? 'cred' : 'cgray'"><i class="fa fa-user"></i></span>
            <span class="ls" [ngClass]="data.u1 ? 'cred' : 'cgray'"><i class="fa fa-user"></i></span>
            <span class="ls" [ngClass]="data.u1 ? 'cred' : 'cgray'"><i class="fa fa-user"></i></span>
            <span class="ls" [ngClass]="data.u1 ? 'cred' : 'cgray'"><i class="fa fa-user"></i></span>
            <span class="ls" [ngClass]="data.u1 ? 'cred' : 'cgray'"><i class="fa fa-user"></i></span>
            <span class="ls" [ngClass]="data.u1 ? 'cred' : 'cgray'"><i class="fa fa-user"></i></span>
            <span class="ls" [ngClass]="data.u1 ? 'cred' : 'cgray'"><i class="fa fa-user"></i></span>
            <span class="pt-3 pl-2 fs-12"><span class="font-weight-bold fs-16">{{data.CONV_LEAD}}</span>/{{data.TOTAL_LEAD}}</span>

        </div>


    </div>
    <div class="col-lg-12 px-0">
        <p class="fs-12 m-0 cgray">Retail Disbursement</p>
        <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" id="progress{{ i }}" style="color: black;background-color: rgb(194,237,254);position: relative;top: -1px;left: -1px;height: 100px;" aria-valuenow="{{ data.disb_percent }}"
                aria-valuemin="0" aria-valuemax="100" class="font-italic">{{data.TOT_SANCTION}} Crores</div>
        </div>
    </div>

</div>

