<div class="col-lg-12 col-12 whole" id="forreachus1">
    <div class="col-lg-12 pl-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1 pl-0">
                <li class="breadcrumb-item home px-0"><a href="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item px-0"><a href="reach-us">Reach Us</a></li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-12 col-12 px-0 first-line">
        <div class="col-lg-7 mx-0 mt-2 list pl-0">
            <h5>Reach Us</h5>

        </div>
        <div class="col-lg-5 col-12 search-bar px-0 ">
            <div class="col-lg-12 col-12  Q-ser pr-0 pl-0">
                <div class="col-lg-8 col-10 px-0 py-0 mb-2 search">
                    <form class="form-inline mx-0 mt-2">
                        <i class="fa fa-search pr-1" aria-hidden="true"></i>
                        <input type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                <div class="col-2 cell pl-0 mt-1 pl-3 pt-1 padr">
                    <div class="col-2"><img style="width: 20px;" src="./assets/images/icons/filter.png"></div>
                </div>
                <div class="col-lg-4 px-0 btn pt-0 hide">
                    <div class="col-lg-8 pr-0 text-center ml-2">
                        <div class="text-center">
                            <button class="main_btn_log"><i class="fa fa-filter" aria-hidden="true"></i> Filter</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12 col-12 pl-0 search-result">
        <div class="col-lg-1 col-3 px-0 res">
            <!-- <p class="font-italic text-secondary mb-0 pt-1">Search Result</p> -->
            <p class="fs-12 font-italic font-weight-bold m-0 pt-1">Search Result</p>

        </div>
        <div class="col-lg-11 col-9 padr">
            <span class="badge badge-danger"><i class="fa fa-building pr-1" aria-hidden="true"></i>Raj Anderson<i
                    class="fa fa-times pl-1" aria-hidden="true"></i></span>

        </div>

    </div>

    <div class="col-lg-12 col-12 shadow bg-white brnew p-2 pl-3 pr-3 mt-4">
    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr padlnew">
            <p class="fs-13 font-weight-bold">Project Approval</p>
        </div>
        <div class="col-lg-2 col-4 textr padlr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">Yes</span>
        </div>
        <div class="col-lg-6 mt-22 col-12 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr padlnew">
            <p class="fs-13 font-weight-bold">Campaign Management</p>
        </div>
        <div class="col-lg-2 col-4 textr padlr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">No</span>

        </div>
        <div class="col-lg-6 mt-22 col-12 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr padlnew">
            <p class="fs-13 font-weight-bold">Interested in Subvention scheme</p>
        </div>
        <div class="col-lg-2 col-4 textr padlr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">No</span>

        </div>
        <div class="col-lg-6 mt-22 col-12 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr padlnew">
            <p class="fs-13 font-weight-bold">Interested in Special Disbursement Facility</p>
        </div>
        <div class="col-lg-2 col-4 textr padlr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">Yes</span>

        </div>
        <div class="col-lg-6 mt-22 col-12 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr padlnew">
            <p class="fs-13 font-weight-bold">Onsite Home Loan Assisatnce</p>
        </div>
        <div class="col-lg-2 col-4 textr padlr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">Yes</span>

        </div>
        <div class="col-lg-6 col-12 mt-22 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr padlnew">
            <p class="fs-13 font-weight-bold">Full time Sales executive at project site</p>
        </div>
        <div class="col-lg-2 col-4 padlr textr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">Yes</span>

        </div>
        <div class="col-lg-6 col-12 mt-22 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-2 col-6  padlnew padl text-c mb-4">
        <!-- <button type="button" class="btn btn1">SUBMIT</button> -->
        <input type="submit" class="main_btn_log" value="SUBMIT">        
    </div>
</div>
</div>

