@media(min-width: 300px) and (max-width: 576px)
{
    .textr{
        text-align: right !important;
    }
    
   
    .padlr{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .padl{
        padding-left: 0px !important;
    }
    .padr{
        padding-right: 0px !important;
    }
    

}

.btn1{
    padding: 0.375rem 1.75rem !important;
    border-radius: 50px !important;
    font-size: 13px !important;
    color: white !important;
    background-color: #e3310d !important;
    box-shadow: 1px 3px 8px #ed1c2452 !important;

}
.mt-22{
    margin-top: -22px !important;
}
.v-align{
    vertical-align: text-bottom !important;
}
