<div class="col-lg-12 col-12 padlr">
    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr">
            <p class="fs-12 font-weight-bold">Project Approval</p>
        </div>
        <div class="col-lg-2 col-4 textr padlr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">Yes</span>
        </div>
        <div class="col-lg-6 mt-22 col-12 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr">
            <p class="fs-12 font-weight-bold">Campaign Management</p>
        </div>
        <div class="col-lg-2 col-4 textr padlr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">No</span>

        </div>
        <div class="col-lg-6 mt-22 col-12 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr">
            <p class="fs-12 font-weight-bold">Intersted in Subvention scheme</p>
        </div>
        <div class="col-lg-2 col-4 textr padlr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">No</span>

        </div>
        <div class="col-lg-6 mt-22 col-12 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr">
            <p class="fs-12 font-weight-bold">Intersted in Special Disbursement Facility</p>
        </div>
        <div class="col-lg-2 col-4 textr padlr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">Yes</span>

        </div>
        <div class="col-lg-6 mt-22 col-12 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr">
            <p class="fs-12 font-weight-bold">Onsite Home Loan Assisatnce</p>
        </div>
        <div class="col-lg-2 col-4 textr padlr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">Yes</span>

        </div>
        <div class="col-lg-6 col-12 mt-22 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-12 row mt-4 px-0 m-0">
        <div class="col-lg-4 col-8 padlr">
            <p class="fs-12 font-weight-bold">Full time Sales executive at project site</p>
        </div>
        <div class="col-lg-2 col-4 padlr textr">
            <mat-slide-toggle></mat-slide-toggle>
            <span class="fs-14 pl-2 pb-0 v-align">Yes</span>

        </div>
        <div class="col-lg-6 col-12 mt-22 padlr" id="forreachus">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput value="" placeholder="REMARKS">
                </mat-form-field>


            </form>

        </div>
    </div>

    <div class="col-lg-12 col-6">
        <button type="button" class="btn btn1">SUBMIT</button>
    </div>
</div>